﻿@{

    var RequestUrl = Request.AppRelativeCurrentExecutionFilePath;

    if (!string.IsNullOrWhiteSpace(RequestUrl))
    {
        var SplitData = RequestUrl.Split('/');
        if (SplitData.Count() >= 2)
        {
            var lstSplitData = SplitData.ToList();
            lstSplitData.RemoveAt(0);
            
            
    <a href="@Url.Action("Dashboard", "Home")" class="AppAnc" style="float: left;">
        <i class="fa fa-home" style="display: block; float: left; font-size: 20px; margin-right: 8px; margin-top: 6px;"></i>@*<div style="display: block; float: left; margin-top: 8px; margin-right: 8px;">/</div>*@
    </a>
    <ul class="breadcrumb" style="margin-bottom: 0px;">
        @{
            int count = 0;

            foreach (var item in lstSplitData)
            {
                count++;
                var display = item;

                switch (item)
                {
                    //case "Update":
                    //    display = "Edit";
                    //    break;
                    case "Home":
                        display = "";
                        break;
                }
                if (count < 3)
                {
                    if (count == 2)
                    {
            <li class="active">@display</li>
                    }
                    else
                    {
@*<li><a href="#">@display</a></li>*@
            <li>@display</li>
                    }
                }
            }
        }
    </ul>
        }

        var end = "bread";
    }
}

