﻿@model IEnumerable<OS.EMS.Web.Models.EmployeeVM>

<div class="RC GridHeaderBG">
    <div class="pull-left GridCP" style="width: 15%;">Code</div>
    <div class="pull-left GridCP" style="width: 20%;">Name</div>
    <div class="pull-left GridCP" style="width: 20%;">Store Name</div>
    <div class="pull-left GridCP" style="width: 15%;">Phone</div>
    <div class="pull-left GridCP ACR" style="width: 30%;">Option(s)</div>
</div>
@{
    int count = 0;    
}
@foreach (var item in Model)
{
    count++;

    string activeIcon = (item.IsActive) ? "fa-ban" : "fa-check-circle-o";
    string activeTitle = (item.IsActive) ? "Disable Employee" : "Enable Employee";
            
    <div class="RC GridH @( ((count % 2) == 0) ? "GridAltBG" : "")">
        <div class="pull-left GridCP" style="width: 15%;">@Html.DisplayFor(modelItem => item.Code)</div>
        <div class="pull-left GridCP" style="width: 20%;">@Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)</div>
        <div class="pull-left GridCP" style="width: 20%;">@Html.DisplayFor(modelItem => item.Store.Name)</div>
        <div class="pull-left GridCP" style="width: 15%;">@Html.DisplayFor(modelItem => item.Phone)</div>
        <div class="pull-left GridCP ACR" style="width: 30%;">
            @if (!item.SystemUserId.HasValue && item.IsManager)
            {
                @Html.ActionLink("Associate System User", "AssociateSystemUser", "User", new { id = item.Id }, new { @class = "btn btn-sm btn-primary", title = "Assocaite System User", style = "color:#fff !important;margin-top: -6px; margin-right:30px;" })
            }
            @Html.ActionLink(" ", "Details", "Employee", new { id = item.Id }, new { @class = "fa fa-eye", title = "View Employee" })@Html.ActionLink(" ", "Update", "Employee", new { id = item.Id }, new { @class = "fa fa-edit", title = "Edit Employee" })@Html.ActionLink(" ", "Activate", "Employee", new { id = item.Id, active = !item.IsActive }, new { @class = "fa " + activeIcon, title = activeTitle })
        </div>
    </div>
}
<div class="RC GridFooterBG GridAltBG GridCP GridFooterBG">Total Records: @Model.Count()</div>
