﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    
        @Scripts.Render("~/bundles/jquery")

    <style>
        .form-signin
        {
            margin: 0 auto;
            max-width: 430px;
            padding: 15px;
        }
    </style>

    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


</head>
<body class="bg-app">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">


        <div class="container">
            <div class="navbar-header">
                <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brandX" href="../" style="padding-right: 20px; line-height: 49px;">
                    <img src="@Url.Content("~/Content/Images/Common/JITBLogo1.png")" /></a>
            </div>
            <nav role="navigation" class="navbar-collapse bs-navbar-collapse collapse" style="height: 1px;">
                <div class="nav navbar-nav"></div>
                <ul id="navMainMenu" class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">SignIn</a>
                    </li>
                    <li>
                        <a href="#">ContactUs</a>
                    </li>
                </ul>

            </nav>
        </div>

    </div>
    @* <br /><br />*@
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="padding-bottom: 0px; margin-bottom: 10px;">
        <div class="container">
            <h2>Employment Management System</h2>
            @*<p>Jack in the Box is among the nation's leading fast-food hamburger chains, with more than 2200 quick-serve restaurants in 19 states.</p>
            <p><a class="AncGrey" role="button">Learn more &raquo;</a></p>*@
        </div>
    </div>

    <div class="container">
        @{Html.RenderPartial("PageMessage");}
        @Html.Partial("_SignIn")

        @RenderBody()
        <hr style="border: solid 1px #AE1128;">
        <footer>
            <div class="pull-left">&copy; JITB EMP Company 2014</div>
            <div class="pull-right">Build 0.2.0</div>
        </footer>
    </div>
    <!-- /container -->
    @RenderSection("scripts", required: false)
    

</body>
</html>
