﻿@using OS.EMS.Web.Models
@{

    var user = HttpContext.Current.Session["AppUser"] as OS.EMS.Model.SystemUser;
    
}



<div class="row QuickShortCutsCont">

    <a href="@Url.Action("Create", "Applicant")" >
        <i class="fa fa-user"></i>
        <span>New Applicant</span>
    </a>


    @if (user != null && user.Role.Name  == RoleType.Admin.ToString())
    {
        <a href="@Url.Action("Create", "Store")">
            <i class="fa fa-building-o"></i>
            <span>New Store</span>
        </a>
        
        @*<a href="@Url.Action("Create", "User")">
            <i class="fa fa-user"></i>
            <span>New User</span>

        </a>*@
       
        
        
    }


    <a href="@Url.Action("List", "Applicant")">
        <i class="fa fa-users"></i>
        <span>Applicants</span>
    </a>


    <a href="@Url.Action("List", "Store")">
        <i class="fa fa-building-o"></i>
        <span>Stores</span>
    </a>

    @if (user != null && user.Role.Name == RoleType.Admin.ToString())
    {
        <a href="@Url.Action("ManagersList", "Employee")">
            <i class="fa fa-users"></i>
            <span>Managers</span>
        </a>

        <a href="@Url.Action("List", "User")">
            <i class="fa fa-users"></i>
            <span>User</span>
        </a>
    }



    <a href="#">
        <i class="fa fa-list-alt"></i>
        <span>Reports</span>
    </a>
</div>

