﻿@using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { id = "", @class = "form-signin" }))
{
        
    <div class="wellx well-smx" style="padding: 0 30px 30px 30px">
        <h2 class="form-signin-heading">Please Sign In</h2>

        <div class="row form-group">
            <div class="col-md-12">
                <div>User ID (Email Address)</div>
                <input id="EmailAddress" name="EmailAddress" type="text" autofocus="" required="" placeholder="Email address" class="form-control" maxlength="64" >
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <div>Password</div>
                <input id="Password" name="Password" type="password" required="" placeholder="Password" class="form-control" maxlength="32">
            </div>
        </div>



        <label class="checkbox">
            <input type="checkbox" value="remember-me">
            Remember me
       
        </label>
        <button type="submit" class="btn  btn-primary btn-block">Sign in</button>
        @*@if (TempData["PageMessage"] != null)
        { 
            <div style="color: red;">@TempData["PageMessage"]</div>
        }*@
    </div>
}