﻿@using OS.EMS.Web.Models


@*For Page Messages*@

@{
    var message = (MessageVM)TempData["Message"];
}

@if (message != null)
{
    <div class="alert alert-@(message.Type)" style="margin-bottom: 6px;">
        @message.Text<a href="#" class="alert-link pull-right">close</a>
        @(TempData["Message"] = null)
    </div>
    
    <script>
        $(function () {
            $(".alert").click(function () {
                $(this).hide();
            });
        });
    </script>
}

