﻿@model OS.EMS.Web.Models.FormW4VM

<div id="dvAllowanceCertificateConents" class="PanelHide">
    <div class="row">
        <div class="col-md-12  form-group">
            @Html.RadioButtonFor(model => model.MartialStatusType, "Single", new { @name = "MartialStatusType" }) Single
            @Html.RadioButtonFor(model => model.MartialStatusType, "Married", new { @name = "MartialStatusType" }) Married
            @Html.RadioButtonFor(model => model.MartialStatusType, "MarriedWithholdSingleRate", new { @name = "MartialStatusType" }) Married, but withhold at higher Single rate.
        </div>
    </div>


    <div class="row">
        <div class="col-md-11  form-group">Total number of allowances you are claiming (from line H above or from the applicable worksheet on page).</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.TotalAllowancesClaming_5, new { @Class = "form-control input-sm" }) </div>
    </div>

    <div class="row">
        <div class="col-md-10  form-group">Additional amount, if any, you want withheld from each paycheck.</div>
        <div class="col-md-2  form-group">@Html.TextBoxFor(model => model.AdditionalAmtWithheld_6, new { @Class = "form-control input-sm", style = "width:65px; float:right" }) <span style="display: inline-block; float: right; padding-right: 2px;">$</span></div>
    </div>

    <div class="row">
        <div class="col-md-11  form-group">
            <div>I claim exemption from withholding for 2014, and I certify that I meet both of the following conditions for exemption.</div>
            <ul style="list-style-type: square">
                <li>Last year I had a right to a refund of all federal income tax withheld because I had no tax liability, and</li>
                <li>This year I expect a refund of all federal income tax withheld because I expect to have no tax liability.</li>
            </ul>
            <div>If you meet both conditions, write “Exempt” here</div>
        </div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.Allowance_7, new { @Class = "form-control input-sm" })</div>
    </div>
</div>
