﻿@model OS.EMS.Web.Models.FormW4VM

<div id="dvDeductionsAdjConents" class="PanelHide">

    <div class="row FB">
        <div class="col-md-12">
            <h4>Deductions and Adjustments Worksheet</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>Note</b>. Use this worksheet only if you plan to itemize deductions or claim certain credits or adjustments to income.
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1  form-group FB">1</div>
        <div class="col-md-9  form-group">Enter an estimate of your 2014 itemized deductions. These include qualifying home mortgage interest, charitable contributions, state and local taxes, medical expenses in excess of 10% (7.5% if either you or your spouse was born before January 2, 1950) of your income, and miscellaneous deductions. For 2014, you may have to reduce your itemized deductions if your income is over $305,050 and you are married filing jointly or are a qualifying widow(er); $279,650 if you are head of household; $254,200 if you are single and not head of household or a qualifying widow(er); or $152,525 if you are married filing separately. See Pub. 505 for details</div>
        <div class="col-md-2  form-group">@Html.TextBoxFor(model => model.DedAndAdj_1, new { @Class = "form-control input-sm", style = "width:65px; float:right" }) <span style="display: inline-block; float: right; padding-right: 2px;">$</span></div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">2</div>
        <div class="col-md-9  form-group">
            <div class="row">
                <div class="col-md-2  form-group"><b>Enter</b></div>
                <div class="col-md-10  form-group">
                    <ul style="list-style-type: square">
                        <li>$12,400 if married filing jointly or qualifying widow(er)</li>
                        <li>$9,100 if head of household</li>
                        <li>$6,200 if single or married filing separately</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2  form-group">@Html.TextBoxFor(model => model.DedAndAdj_2, new { @Class = "form-control input-sm", style = "width:65px; float:right" })<span style="display: inline-block; float: right; padding-right: 2px;">$</span> </div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">3</div>
        <div class="col-md-9  form-group"><b>Subtract</b> line 2 from line 1. If zero or less, enter “-0-”</div>
        <div class="col-md-2  form-group">@Html.TextBoxFor(model => model.DedAndAdj_3, new { @Class = "form-control input-sm", style = "width:65px; float:right" }) <span style="display: inline-block; float: right; padding-right: 2px;">$</span></div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">4</div>
        <div class="col-md-9  form-group">Enter an estimate of your 2014 adjustments to income and any additional standard deduction (see Pub. 505)</div>
        <div class="col-md-2  form-group">@Html.TextBoxFor(model => model.DedAndAdj_4, new { @Class = "form-control input-sm", style = "width:65px; float:right" }) <span style="display: inline-block; float: right; padding-right: 2px;">$</span></div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">5</div>
        <div class="col-md-9  form-group"><b>Add</b> lines 3 and 4 and enter the total. (Include any amount for credits from the Converting Credits to Withholding Allowances for 2014 Form W-4 worksheet in Pub. 505.)</div>
        <div class="col-md-2  form-group">@Html.TextBoxFor(model => model.DedAndAdj_5, new { @Class = "form-control input-sm", style = "width:65px; float:right" }) <span style="display: inline-block; float: right; padding-right: 2px;">$</span></div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">6</div>
        <div class="col-md-9  form-group">Enter an estimate of your 2014 nonwage income (such as dividends or interest)</div>
        <div class="col-md-2  form-group">@Html.TextBoxFor(model => model.DedAndAdj_6, new { @Class = "form-control input-sm", style = "width:65px; float:right" }) <span style="display: inline-block; float: right; padding-right: 2px;">$</span></div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">7</div>
        <div class="col-md-9  form-group"><b>Subtract</b> line 6 from line 5. If zero or less, enter “-0-”</div>
        <div class="col-md-2  form-group">@Html.TextBoxFor(model => model.DedAndAdj_7, new { @Class = "form-control input-sm", style = "width:65px; float:right" }) <span style="display: inline-block; float: right; padding-right: 2px;">$</span></div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">8</div>
        <div class="col-md-10  form-group"><b>Divide</b> the amount on line 7 by $3,950 and enter the result here. Drop any fraction</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.DedAndAdj_8, new { @Class = "form-control input-sm" }) </div>
    </div>

    <div class="row">
        <div class="col-md-1  form-group FB">9</div>
        <div class="col-md-10  form-group">Enter the number from the <b>Personal Allowances Worksheet</b>, line H, page 1</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.Allowance_C, new { @Class = "form-control input-sm" }) </div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">10</div>
        <div class="col-md-10  form-group"><b>Add</b> lines 8 and 9 and enter the total here. If you plan to use the <b>Two-Earners/Multiple Jobs Worksheet</b>, also enter this total on line 1 below. Otherwise, stop here and enter this total on Form W-4, line 5, page 1</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.Allowance_C, new { @Class = "form-control input-sm" }) </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Two-Earners/Multiple Jobs Worksheet
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>Note</b>. Use this worksheet only if the instructions under line H on page 1 direct you here.
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1  form-group FB">1</div>
        <div class="col-md-10  form-group">Enter the number from line H, page 1 (or from line 10 above if you used the <b>Deductions and Adjustments Worksheet</b>)</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.DedAndAdj_TwoEarners_1, new { @Class = "form-control input-sm" }) </div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">2</div>
        <div class="col-md-10  form-group">Find the number in <b>Table 1</b> below that applies to the <b>LOWEST</b> paying job and enter it here. <b>However</b>, if you are married filing jointly and wages from the highest paying job are $65,000 or less, do not enter more than “3</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.DedAndAdj_TwoEarners_2, new { @Class = "form-control input-sm" }) </div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">3</div>
        <div class="col-md-10  form-group">If line 1 is <b>more than or equal</b> to line 2, subtract line 2 from line 1. Enter the result here (if zero, enter “-0-”) and on Form W-4, line 5, page 1. <b>Do not</b> use the rest of this worksheet</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.DedAndAdj_TwoEarners_3, new { @Class = "form-control input-sm" }) </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>Note</b>. If line 1 is <b>less than</b> line 2, enter “-0-” on Form W-4, line 5, page 1. Complete lines 4 through 9 below to figure the additional withholding amount necessary to avoid a year-end tax bill.
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1  form-group FB">4</div>
        <div class="col-md-10  form-group">Enter the number from line 2 of this worksheet</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.DedAndAdj_TwoEarners_4, new { @Class = "form-control input-sm" }) </div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">5</div>
        <div class="col-md-10  form-group">Enter the number from line 1 of this worksheet</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.DedAndAdj_TwoEarners_5, new { @Class = "form-control input-sm" }) </div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">6</div>
        <div class="col-md-10  form-group"><b>Subtract</b> line 5 from line 4</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.DedAndAdj_TwoEarners_6, new { @Class = "form-control input-sm" }) </div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">7</div>
        <div class="col-md-9  form-group">Find the amount in <b>Table 2</b> below that applies to the <b>HIGHEST</b> paying job and enter it here</div>
        <div class="col-md-2  form-group">@Html.TextBoxFor(model => model.DedAndAdj_TwoEarners_7, new { @Class = "form-control input-sm", style = "width:65px; float:right" }) <span style="display: inline-block; float: right; padding-right: 2px;">$</span></div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">8</div>
        <div class="col-md-9  form-group"><b>Multiply</b> line 7 by line 6 and enter the result here. This is the additional annual withholding needed</div>
        <div class="col-md-2  form-group">@Html.TextBoxFor(model => model.DedAndAdj_TwoEarners_8, new { @Class = "form-control input-sm", style = "width:65px; float:right" }) <span style="display: inline-block; float: right; padding-right: 2px;">$</span></div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">9</div>
        <div class="col-md-9  form-group">Divide line 8 by the number of pay periods remaining in 2014. For example, divide by 25 if you are paid every two weeks and you complete this form on a date in January when there are 25 pay periods remaining in 2014. Enter the result here and on Form W-4, line 6, page 1. This is the additional amount to be withheld from each paycheck</div>
        <div class="col-md-2  form-group">@Html.TextBoxFor(model => model.DedAndAdj_TwoEarners_9, new { @Class = "form-control input-sm", style = "width:65px; float:right" }) <span style="display: inline-block; float: right; padding-right: 2px;">$</span></div>
    </div>
</div>
