﻿@model OS.EMS.Web.Models.FormW4VM

<div id="dvPersonalAllowancesContents" class="PanelActive">
    @*Personal Allowances Worksheet*@
    <div class="row">
        <div class="col-md-1  form-group FB">A</div>
        <div class="col-md-10  form-group"><b>Enter “1”</b> for yourself if no one else can claim you as a dependent.</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.Allowance_A, new { @Class = "form-control input-sm" }) </div>
    </div>

    <div class="row">
        <div class="col-md-1  form-group FB">B</div>
        <div class="col-md-10  form-group">
            <div class="row">
                <div class="col-md-2  form-group"><b>Enter “1”</b> if</div>
                <div class="col-md-10  form-group">
                    <ul style="list-style-type: square">
                        <li>You are single and have only one job; or</li>
                        <li>You are married, have only one job, and your spouse does not work; or</li>
                        <li>Your wages from a second job or your spouse’s wages (or the total of both) are $1,500 or less.</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.Allowance_B, new { @Class = "form-control input-sm" }) </div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">C</div>
        <div class="col-md-10  form-group"><b>Enter “1”</b> for your spouse. But, you may choose to enter “-<b>0</b>-” if you are married and have either a working spouse or more than one job. (Entering “-0-” may help you avoid having too little tax withheld.)</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.Allowance_C, new { @Class = "form-control input-sm" }) </div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">D</div>
        <div class="col-md-10  form-group">Enter number of dependents (other than your spouse or yourself) you will claim on your tax return.</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.Allowance_D, new { @Class = "form-control input-sm" }) </div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">E</div>
        <div class="col-md-10  form-group"><b>Enter “1”</b> if you will file as head of household on your tax return (see conditions under Head of household above).</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.Allowance_E, new { @Class = "form-control input-sm" }) </div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">F</div>
        <div class="col-md-10  form-group">
            <b>Enter “1”</b> if you have at least $2,000 of child or dependent care expenses for which you plan to claim a credit.<br />
            (<b>Note</b>. Do not include child support payments. See Pub. 503, Child and Dependent Care Expenses, for details.)
        </div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.Allowance_F, new { @Class = "form-control input-sm" }) </div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">G</div>
        <div class="col-md-10  form-group">
            Child Tax Credit (including additional child tax credit). See Pub. 972, Child Tax Credit, for more information.<br />
            If your total income will be less than $65,000 ($95,000 if married), enter “<b>2</b>” for each eligible child; then less “<b>1</b>” if you have three to six eligible children or less “<b>2</b>” if you have seven or more eligible children.<br />
            If your total income will be between $65,000 and $84,000 ($95,000 and $119,000 if married), enter “<b>1</b>” for each eligible child<br />

        </div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.Allowance_G, new { @Class = "form-control input-sm" }) </div>
    </div>
    <div class="row">
        <div class="col-md-1  form-group FB">H</div>
        <div class="col-md-10  form-group">Add lines <b>>A</b> through <b>G</b> and enter total here. (<b>Note</b>. This may be different from the number of exemptions you claim on your tax return.)</div>
        <div class="col-md-1  form-group">@Html.TextBoxFor(model => model.Allowance_H, new { @Class = "form-control input-sm" }) </div>
    </div>
</div>
