﻿@model FormW4VM
@using OS.EMS.Web.Models
@{
    ViewBag.Title = "FormW4";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";

    bool IsNewEntry = true;
    if (Model.Id.HasValue)
    {
        IsNewEntry = Model.Id.Value == Guid.Empty ? true : false;
    }
    
}
<h2 class="FontAE1128" style="margin-left: -10px;">@((IsNewEntry) ? "Create" : "Edit") Form W4</h2>
<br />

<div class="">
    <ul class="nav nav-tabs">
        <li class="active"><a id="dvPersonalAllowancesSwitch" class="" role="button" style="">Personal Allowances</a></li>
        <li><a id="dvAllowanceCertificateSwitch" class="" role="button" style="">Employee's Withholding Allowance Certificate</a></li>
        <li><a id="dvDeductionsAdjSwitch" class="" role="button" style="">Deductions and Adjustments</a></li>
    </ul>
    <br />
    
    @using (Html.BeginForm(Model.Id.Value == Guid.Empty ? "Create" : "Update", "FormW4", FormMethod.Post, new { id = "formW4" }))
    {
        <div class="panel-body" style="background-color: #fff;">
            @Html.ValidationSummary(true)

            @Html.Partial("_PersonalAllowances", Model)
            @Html.Partial("_AllowanceCertificate", Model)
            @Html.Partial("_DeductionsAndAdjustments", Model)
            
            <hr/>
            <div class="row  form-group">
                <div class="col-md-12">
                    <input type="submit" value="@((IsNewEntry) ? "Create" : "Update")" class="btn btn-primary" style="min-width:75px;" />
                    @Html.ActionLink("Cancel", "Details", "Employee", new { id = Model.EmployeeId }, new { @class = "btn btn-primary btn-sm", style="min-width:75px;" })
                    <input type="hidden" id="id" name="id" value="@Model.Id"  />
                    @Html.HiddenFor(model => model.EmployeeId)
                    @Html.HiddenFor(model => model.IsActive)
                    @Html.ValidationSummary(true)
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(function () {

            //At PeronalInfo
            //$("#DateOfBirth").kendoDatePicker();

            //For Tabs
            $(".nav-tabs a").click(function () {
                // ;

                var isValidForm = $("#formW4").valid();
                if (isValidForm) {
                    PanelHide();

                    $(".nav-tabs li").removeClass("active");
                    $(this).parent().addClass("active");

                    //For Panels
                    if ($(this).attr("id") == "dvPersonalAllowancesSwitch") {
                        $("#dvPersonalAllowancesContents").addClass("PanelActive");

                    }
                    else if ($(this).attr("id") == "dvAllowanceCertificateSwitch") {
                        $("#dvAllowanceCertificateConents").addClass("PanelActive");
                    }
                    else if ($(this).attr("id") == "dvDeductionsAdjSwitch") {
                        $("#dvDeductionsAdjConents").addClass("PanelActive");
                    }
                   
                }

            });



        });

        function PanelHide() {
            // 
            $(".PanelActive").each(function () {
                $(this).removeClass("PanelActive").addClass("PanelHide");
            });
        }


    </script>

}