﻿@using OS.EMS.Web.Models
@model SystemUserVM


@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";

    bool IsNewEntry = true;
    if (Model.Id.HasValue)
    {
        IsNewEntry = Model.Id.Value == Guid.Empty ? true : false;
    }
    
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user pull-left"></i>@((IsNewEntry) ? "Create" : "Edit") User</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 form-group" style="font-size: 16px;">
                @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
            </div>
        </div>

        @*using (Html.BeginForm())*@
        @using (Html.BeginForm(IsNewEntry ? "Create" : "Update", "User", FormMethod.Post, null))
        {

@*
            <div class="row">
                <div class="col-md-3 form-group">
                    <div>
                        Associate Manager
                        @Html.DropDownListFor(model => model.EmployeeId, Model.Managers, new { style = "", @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.EmployeeId)
                    </div>
                </div>
            </div>*@

@*<div class="row">*@
@* <div class="col-md-3 form-group">
                    <div>
                        First Name
                    </div>
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm", style = " " })
                    @Html.ValidationMessageFor(model => model.FirstName)

                </div>*@
@*<div class="col-md-3  form-group">
                    <div>
                        Last Name
                    </div>
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm", style = " " })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>*@
@*<div class="col-md-2  form-group">
                    <div>
                        Phone No
                    </div>
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>*@
@*</div>*@

            <div class="row">
                <div class="col-md-3 form-group">
                    <div>
                        User ID (Email Address)
                    </div>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm", style = "" })
                    @Html.Hidden("InitialEmail", Model.Email)
                    @Html.ValidationMessageFor(model => model.Email)

                </div>
                <div class="col-md-2  form-group">
                    <div>
                        User Role
                    </div>
                    @Html.DropDownListFor(model => model.RoleId, Model.Roles, new { style = "", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.RoleId)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 form-group">
                    <div>
                        Password
                    </div>
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control input-sm", type = "password", style = "" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="col-md-2  form-group">
                    <div>
                        Confirm Password
                    </div>
                    @Html.TextBoxFor(model => model.PasswordConfirm, null, new { @class = "form-control input-sm", type = "password" })
                    @Html.ValidationMessageFor(model => model.PasswordConfirm)



                </div>

            </div>
            <div class="row  form-group">
                <div class="col-md-12">
                    <input type="submit" value="@((IsNewEntry) ? "Create" : "Update")" class="btn btn-primary"  style="min-width:75px;" />
                    @*@Html.ActionLink("Cancel", "Dashboard", "Home", null, new { @class = "btn btn-primary btn-sm" })*@
                     @if (IsNewEntry) { 
                        @Html.ActionLink("Cancel", "Dashboard", "Home", null, new { @class = "btn btn-primary btn-sm", style="min-width:75px;" });    
                    }
                    else
                    {
                        @Html.ActionLink("Cancel", "List", "User", new { id = Model.Id.Value }, new { @class = "btn btn-primary btn-sm", style="min-width:75px;" });
                    }
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.EmployeeId)
                    @Html.HiddenFor(model => model.IsActive)
                    @Html.HiddenFor(model => model.LastName)
                    @Html.HiddenFor(model => model.FirstName)
                    @Html.ValidationSummary(true)
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
