﻿@model IEnumerable<OS.EMS.Model.SystemUser>

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";
}

<div class="panel panel-default ">
    <div class="panel-heading">
        <h3 class="panel-title FB pull-left"><i class="fa fa-users"></i>Users</h3>
        <div class="btn-group btn-group-style-ext pull-right">
            <button type="button" class="btn btn-default btn-sm">Active</button>
            <button type="button" class="btn btn-default btn-sm">Inactive</button>
            @*<button type="button" class="btn btn-default btn-sm">New User</button>*@
            @Html.ActionLink("New User", "Create", null, new { @class = "btn btn-default btn-sm" })
        </div>
    </div>
    <div class="panel-body" style="padding: 0px;">
        <div class="RC GridHeaderBG">
            <div class="pull-left GridCP" style="width: 8%;">Role</div>
            <div class="pull-left GridCP" style="width: 32%;">Name</div>
            @*<div class="pull-left GridCP" style="width: 14%;">Phone No</div>*@
            <div class="pull-left GridCP" style="width: 22%;">Email Address</div>
            <div class="pull-left GridCP" style="width: 16%;">Created On</div>
            <div class="pull-right GridCP ACR" style="width: 8%;">Option(s)</div>
        </div>
        @{
            int count = 0;    
        }
        @foreach (var item in Model)
        {
            count++;

            string tmp = (count % 2).ToString();

            string activeIcon = (item.IsActive) ? "fa-ban" : "fa-check-circle-o";
            string activeTitle = (item.IsActive) ? "Disable User" : "Enable User";
            
            
            <div class="RC GridH @( ((count % 2) == 0) ? "GridAltBG" : "")">
                <div class="pull-left GridCP" style="width: 8%;">@Html.DisplayFor(modelItem => item.Role.Name)</div>
                <div class="pull-left GridCP" style="width: 32%;">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</div>
                @*<div class="pull-left GridCP" style="width: 14%;">@Html.DisplayFor(modelItem => item.Phone)</div>*@
                <div class="pull-left GridCP" style="width: 22%;">@Html.DisplayFor(modelItem => item.Email)</div>
                <div class="pull-left GridCP" style="width: 16%;">@Html.DisplayFor(modelItem => item.CreatedOn)</div>
                <div class="pull-right GridCP ACR" style="width: 8%;">@Html.ActionLink(" ", "Update", new { id = item.Id }, new { @class = "fa fa-edit", title = "Edit User" })&nbsp;@Html.ActionLink(" ", "Activate", new { id = item.Id, active = !item.IsActive }, new { @class = "fa " + activeIcon, title = activeTitle }) </div>
            </div>
        }
        <div class="RC GridFooterBG GridAltBG GridCP GridFooterBG">Total Records: @Model.Count()</div>

    </div>
</div>


