﻿@model OS.EMS.Web.Models.ApplicantEducationVM

@{
    Layout = null;
}

<div class="well well-sm" style="overflow: auto;">
    <div class="col-md-6 form-group ">

        <div class="row">
            <div class="col-md-12 form-group ">
                <div>Institution Name</div>
                @Html.TextBoxFor(model => model.Name, new { Name = "Educations[" + Model.IntCounter + "].Name", style = " ", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group ">
                <div>Location</div>
                @Html.TextAreaFor(model => model.Location, new { Name = "Educations[" + Model.IntCounter + "].Location", style = " ", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>

    </div>
    <div class="col-md-4 form-group">
        <div class="row">
            <div class="col-md-8  form-group">
                <div>
                    Education Type
                </div>
                @Html.DropDownListFor(model => model.EducationTypeId, Model.EducationTypes, new { Name = "Educations[" + Model.IntCounter + "].EducationTypeId", style = "width:90%;", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.EducationTypeId)
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <div>No of years attended</div>
                @Html.TextBoxFor(model => model.Years, new { Name = "Educations[" + Model.IntCounter + "].Years", style = "width:60px; ", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Years)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <span>Graduated?</span>
                @Html.RadioButtonFor(model => model.IsGraduated, "Yes", new { Name = "Educations[" + Model.IntCounter + "].IsGraduated", @checked = "checked" }) Yes
                    @Html.RadioButtonFor(model => model.IsGraduated, "No", new { Name = "Educations[" + Model.IntCounter + "].IsGraduated" }) No
                    @Html.RadioButtonFor(model => model.IsGraduated, "CEO", new { Name = "Educations[" + Model.IntCounter + "].IsGraduated" }) CEO
                @*@Html.HiddenFor(model => model.Id, new {  Name = "Educations[" + Model.IntCounter + "].Id" })*@
                <input type="hidden" name = "Educations[@Model.IntCounter].ApplicantId" value="@Model.ApplicantId" />
                <input type="hidden" name = "Educations[@Model.IntCounter].Id" value="@Model.Id" />
            </div>
        </div>
    </div>
</div>

