﻿@model OS.EMS.Web.Models.ApplicantInterviewVM

@{
    Layout = null;
}

<div class="well well-sm">
    <div class="row form-group">
        <div class="col-md-4">
            <div class="editor-label">
                Interview Subject
            </div>
            <div class="editor-field">

                @Html.TextBoxFor(model => model.IntervieSubject, new { Name = "Interviews["+Model.IntCounter+"].IntervieSubject", style=" ",  @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.IntervieSubject)
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                Interviewer Guid1
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.InterviewerGuideName1, new { Name = "Interviews["+Model.IntCounter+"].InterviewerGuideName1" ,  @class = "form-control input-sm"})
                @Html.ValidationMessageFor(model => model.InterviewerGuideName1)                                      
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <div class="editor-label">
                Result
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.InterviewResult, new { Name = "Interviews["+Model.IntCounter+"].InterviewResult", style=" ",  @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.InterviewResult)
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-label">
                Interviewer Guid2
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.InterviewerGuideName2, new { Name = "Interviews["+Model.IntCounter+"].InterviewerGuideName2",  @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.InterviewerGuideName2)
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <div class="editor-label">
                Date
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.InterviewDate, new { Name = "Interviews["+Model.IntCounter+"].InterviewDate", @class="KenDateFix IntDate"+Model.IntCounter })
                @Html.ValidationMessageFor(model => model.InterviewDate)
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <div class="editor-label">
                Comments
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Comments, new { Name = "Interviews["+Model.IntCounter+"].Comments", style="  min-height:60px; ",  @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </div>
    </div>
    <div class="row form-group">
        @*@Html.HiddenFor(model => model.Id, new { Name = "Interviews["+Model.IntCounter+"].Id" })
        @Html.HiddenFor(model => model.ApplicantId, new { Name = "Interviews["+Model.IntCounter+"].ApplicantId" })*@
        <input type="hidden" name = "Interviews[@Model.IntCounter].ApplicantId" value="@Model.ApplicantId" />
        <input type="hidden" name = "Interviews[@Model.IntCounter].Id" value="@Model.Id" />

    </div>
</div>


<script>
    
    $(function () {
        var icIntDate = @Model.IntCounter;
        $(".IntDate"+icIntDate).kendoDatePicker();

    });

</script>