﻿@model OS.EMS.Web.Models.ApplicantWorkHistoryVM

@{
    Layout = null;
}

<div class="well well-sm">
    <div class="row">
        <div class="col-md-4 form-group ">
            <div class="editor-field">
                <div>Employer's Name</div>
                @Html.TextBoxFor(model => model.EmployerName, new { Name = "ApplicantWorkHistories[" + Model.IntCounter + "].EmployerName", style = " ", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.EmployerName)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group ">
            <div class="editor-field">
                <div>Street Address</div>
                @Html.TextAreaFor(model => model.Address, new { Name = "ApplicantWorkHistories[" + Model.IntCounter + "].Address", placeholder = "", style = " ", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>

        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-2  form-group">
            <div>
                City
            </div>
            @Html.DropDownListFor(model => model.CityId, Model.Cities, new { Name = "ApplicantWorkHistories[" + Model.IntCounter + "].CityId", style = " ", @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.Cities)
        </div>
        <div class="col-md-2  form-group">
            <div>
                State
            </div>
            @Html.DropDownListFor(model => model.StateId, Model.States, new { Name = "ApplicantWorkHistories[" + Model.IntCounter + "].StateId", style = " ", @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.StateId)
        </div>
        <div class="col-md-2">
            <div>
                Zip Code
            </div>

            @Html.TextBoxFor(model => model.ZipCode, new { Name = "ApplicantWorkHistories[" + Model.IntCounter + "].ZipCode", @class = "form-control input-sm", style = " " })
            @Html.ValidationMessageFor(model => model.ZipCode)
        </div>
        <div class="col-md-2 form-group ">
            <div class="editor-field">
                <div>Phone</div>
                @Html.TextBoxFor(model => model.Phone, new { Name = "ApplicantWorkHistories[" + Model.IntCounter + "].Phone", @class = "form-control input-sm", style = " " })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
    </div>


    <div class="row form-group">
        <div class="col-md-2  form-group">
            <div class="editor-field">
                <div>Employment From</div>
                @Html.TextBoxFor(model => model.WorkedFrom, new { style = " ", placeholder = "", Name = "ApplicantWorkHistories[" + Model.IntCounter + "].WorkedFrom", @class="KenDateFix SesonalEmploymentFrom"+Model.IntCounter })
                @Html.ValidationMessageFor(model => model.WorkedFrom)
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                <div>To</div>
                @Html.TextBoxFor(model => model.WorkedTo, new { style = " ", placeholder = "", Name = "ApplicantWorkHistories[" + Model.IntCounter + "].WorkedTo", @class="KenDateFix SesonalEmploymentFrom"+Model.IntCounter })
                @Html.ValidationMessageFor(model => model.WorkedTo)
            </div>
        </div>
        <div class="col-md-6">
            Employment Type? @Html.RadioButtonFor(model => model.WorkNature, "Full Time", new { @checked = "checked", Name = "ApplicantWorkHistories[" + Model.IntCounter + "].WorkNature" }) Full Time
            @Html.RadioButtonFor(model => model.WorkNature, "Part Time", new { Name = "ApplicantWorkHistories[" + Model.IntCounter + "].WorkNature" }) Part Time
            @Html.ValidationMessageFor(model => model.WorkNature)
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 form-group ">
            <div class="editor-field">
                <div>Position/Duties</div>
                @Html.TextAreaFor(model => model.Position, new { style = " ", placeholder = "", Name = "ApplicantWorkHistories[" + Model.IntCounter + "].Position", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Position)

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4 form-group ">
            <div class="editor-field">
                <div>Immediate Supervisor</div>
                @Html.TextBoxFor(model => model.Supervisor, new { Name = "ApplicantWorkHistories[" + Model.IntCounter + "].Supervisor", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Supervisor)
            </div>
        </div>
    </div>
    <div class="row  form-group">
        <div class="col-md-12">
            <strong>Salary Information</strong>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2  form-group">
            <div class="editor-field">
                <div>Pay Starting</div>
                @Html.TextBoxFor(model => model.HourlyPayAtStart, new { style = " ", placeholder = "", Name = "ApplicantWorkHistories[" + Model.IntCounter + "].HourlyPayAtStart", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.HourlyPayAtStart)
            </div>
        </div>
        <div class="col-md-2  form-group">
            <div class="editor-field">
                <div>Present/Final</div>
                @Html.TextBoxFor(model => model.HourlyPayAtPresent, new { style = " ", placeholder = "", Name = "ApplicantWorkHistories[" + Model.IntCounter + "].HourlyPayAtPresent", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.HourlyPayAtPresent)
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 form-group ">
            <div class="editor-field">
                <div>Reason For Leaving</div>
                @Html.TextAreaFor(model => model.ReasonLeaving, new { style = " ", placeholder = "", Name = "ApplicantWorkHistories[" + Model.IntCounter + "].ReasonLeaving", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.ReasonLeaving)
                <input type="hidden" name = "ApplicantWorkHistories[@Model.IntCounter].ApplicantId" value="@Model.ApplicantId" />
                <input type="hidden" name = "ApplicantWorkHistories[@Model.IntCounter].Id" value="@Model.Id" />
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        var icIntDateEmpHistory = @Model.IntCounter;
        $(".SesonalEmploymentFrom"+icIntDateEmpHistory).kendoDatePicker();
    });

</script>


    