﻿@model OS.EMS.Web.Models.ApplicantVM


<div id="dvApplicationSignConents" class="panel panel-default EmpPanelHide">
    <div class="panel-heading">
        <h3 class="panel-title pull-left"><i class="fa fa-user pull-left"></i>Applicant Signature</h3>
    </div>

    <div class="panel-body">
        <div class="well well-sm">

            <p>Please read the following paragraph very carefully before signing this application.</p>
            <p>I certify that to the best of my knowledge and belief, the statements made by me in this application are correct and complete without omission of any kind i understand that any false information I gave when applying for employment whether in this application or otherwise, will cause termination of my employment regardless of when discovered. You are hereby authorized to investigate all the statements made in this application, except for any information about disability and medical conditions or treatment, which is prohibited by the Americans With Disabilities Act.</p>
            <p>All pay options will be communicated to me during the on-bording process. Until I complete onboarding. I agree to be paid using the Money Network Check or Pay Card.</p>
            <p>I further agree that I do not have an employment contract and that my employment can be terminated or modified with or without notice or cause at any time by the company or me.</p>

            @*<div class="row  form-group">
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>*@
        </div>
    </div>
</div>



