﻿@model OS.EMS.Web.Models.ApplicantVM


<div id="dvAvailabilityConents" class="panel panel-default EmpPanelHide">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user pull-left"></i>Applicant Availability</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-6 form-group">
                <div class="editor-label">
                    What lead you to contact us for employment?
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.ContactUsSource, new { style = "  min-height:60px; ", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ContactUsSource)
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                <div class="editor-label">
                    Positions Desired
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.PositionsDesired, Model.PositionsDesiredSLI, new { style = "width:98%;", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.PositionsDesired)
                </div>

            </div>
            <div class="col-md-3 form-group">

                <div class="editor-label">
                    Date available for employment
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DateOfAvailability, new { Value = "", @class = " KenDateFix" })
                    @Html.ValidationMessageFor(model => model.DateOfAvailability)
                </div>

            </div>
        </div>

        <div class="row ">
            <div class="col-md-3 form-group">

                <div class="editor-label">
                    Total hours availability per week
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.TotalWeekHours, new { @class = "form-control input-sm", style = "width:60px;" })
                    @Html.ValidationMessageFor(model => model.TotalWeekHours)
                </div>
            </div>
        </div>

        @* <div class="well well-sm">
            <div class="row form-group">
                <div class="col-md-12">

                    <div class="editor-label  form-group">
                        <strong>HOURS AVAILABLE</strong>
                    </div>
                    <div class="editor-field">

                        <div class="col-md-1">
                            <div class="row form-group">
                                Mon
                            </div>
                            <div class="row form-group">
                                <div>From</div>
                                @Html.TextBoxFor(model => model.MondayFrom, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.MondayFrom)
                            </div>
                            <div class="row form-group">
                                <div>To</div>
                                @Html.TextBoxFor(model => model.MondayTo, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.MondayTo)
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="row form-group">
                                Tue
                            </div>
                            <div class="row form-group">
                                <div>From</div>
                                @Html.TextBoxFor(model => model.TuesdayFrom, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.TuesdayFrom)
                            </div>
                            <div class="row form-group">
                                <div>To</div>
                                @Html.TextBoxFor(model => model.TuesdayTo, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.TuesdayTo)
                            </div>
                        </div>
                        <div class="col-md-1">

                            <div class="row form-group">
                                Wed
                            </div>
                            <div class="row form-group">
                                <div>From</div>
                                @Html.TextBoxFor(model => model.WednesdayFrom, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.WednesdayFrom)
                            </div>
                            <div class="row form-group">
                                <div>To</div>
                                @Html.TextBoxFor(model => model.WednesdayTo, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.WednesdayTo)
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="row form-group">
                                Thu
                            </div>
                            <div class="row form-group">
                                <div>From</div>
                                @Html.TextBoxFor(model => model.ThursdayFrom, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.ThursdayFrom)
                            </div>
                            <div class="row form-group">
                                <div>To</div>
                                @Html.TextBoxFor(model => model.ThursdayTo, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.ThursdayTo)
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="row form-group">
                                Fri
                            </div>
                            <div class="row form-group">
                                <div>From</div>
                                @Html.TextBoxFor(model => model.FridayFrom, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.FridayFrom)
                            </div>
                            <div class="row form-group">
                                <div>To</div>
                                @Html.TextBoxFor(model => model.FridayTo, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.FridayTo)
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="row form-group">
                                Sat
                            </div>
                            <div class="row form-group">
                                <div>From</div>
                                @Html.TextBoxFor(model => model.SaturdayFrom, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.SaturdayFrom)
                            </div>
                            <div class="row form-group">
                                <div>To</div>
                                @Html.TextBoxFor(model => model.SaturdayTo, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.SaturdayTo)
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="row form-group">
                                Sun
                            </div>
                            <div class="row form-group">
                                <div>From</div>
                                @Html.TextBoxFor(model => model.SundayFrom, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.SundayFrom)
                            </div>
                            <div class="row form-group">
                                <div>To</div>
                                @Html.TextBoxFor(model => model.SundayTo, new { style = "", placeholder = "" })
                                @Html.ValidationMessageFor(model => model.SundayTo)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@

        <div class="row">
            <div class="col-md-12 form-group">
                <span>Are you seeking seasonal employment?</span> @Html.RadioButtonFor(model => model.IsSesonalEmployment, true, new { @name = "IsSesonalEmployment" }) Yes
                @Html.RadioButtonFor(model => model.IsSesonalEmployment, false, new { @name = "IsSesonalEmployment" }) No<br />
                @Html.ValidationMessageFor(model => model.IsSesonalEmployment)
            </div>
        </div>
        <div id="dvSeasonalEmploymentCont" class="RC well well-sm" style="display: none;">
            <div class="col-md-2 form-group">
                If "yes", for how long?
            </div>
            <div class="col-md-2  form-group">
                <div>From</div>
                @Html.TextBoxFor(model => model.SesonalEmploymentFrom, new { placeholder = "", @class = "KenDateFix" })
                @Html.ValidationMessageFor(model => model.SesonalEmploymentFrom)
            </div>
            <div class="col-md-2">
                <div>To</div>
                @Html.TextBoxFor(model => model.SesonalEmploymentTo, new { placeholder = "", @class = "KenDateFix" })
                @Html.ValidationMessageFor(model => model.SesonalEmploymentTo)
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <span>If hired is there anything that may prevent you from reporting to work each schedule day on time?</span> @Html.RadioButtonFor(model => model.IsPreventToWorkDaily, true, new { @name = "IsPreventToWorkDaily" }) Yes
                        @Html.RadioButtonFor(model => model.IsPreventToWorkDaily, false, new { @name = "IsPreventToWorkDaily" }) No
                        @Html.ValidationMessageFor(model => model.IsPreventToWorkDaily)

                </div>
            </div>
            <div id="dvPreventToWorkCont" class="RC well well-sm" style="display: none;">
                <div class="rowx">
                    <div class="col-md-12">
                        If yes, Please explain?
                    </div>
                </div>
                <div class="rowx  form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.PreventToWorkReason, new { placeholder = "", style = " ", @class = "form-control input-sm" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
