﻿@model OS.EMS.Web.Models.ApplicantVM


<div id="dvMiscellaneousConents" class="panel panel-default EmpPanelHide">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user pull-left"></i>Miscellaneous</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12  form-group">
                Have you previously worked for JACK IN THE BOX? @Html.RadioButtonFor(model => model.IsPreviouslyWorkedWithUs, true, new { @name = "IsPreviouslyWorkedWithUs" }) Yes
                    @Html.RadioButtonFor(model => model.IsPreviouslyWorkedWithUs, false, new { @name = "IsPreviouslyWorkedWithUs" }) No
                    @Html.ValidationMessageFor(model => model.IsPreviouslyWorkedWithUs)
            </div>
        </div>
        <div id="dvIsPrevWorkedContents" class="well well-sm" style="display: none;">
            <div class="row">
                <div class="col-md-4 form-group">
                    <div>Previous Store Code</div>
                    @Html.TextBoxFor(model => model.PreviousWorkedStoreCode, new { style = " ", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.PreviousWorkedStoreCode)
                </div>
                <div class="col-md-3 form-group">
                    <div>Previous Store Contact</div>
                    @Html.TextBoxFor(model => model.PreviousWorkedContact, new { placeholder = "", style = " ", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.PreviousWorkedContact)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2  form-group">
                    <div class="editor-field">
                        <div>From</div>
                        @Html.TextBoxFor(model => model.PreviousWorkedFrom, new { style = "width:150px;", placeholder = "", Value = "", @class = "form-controlx input-smx KenDateFix" })
                        @Html.ValidationMessageFor(model => model.PreviousWorkedFrom)
                    </div>
                </div>
                <div class="col-md-2  form-group">
                    <div class="editor-field">
                        <div>To</div>
                        @Html.TextBoxFor(model => model.PreviousWorkedTo, new { style = "width:150px;", placeholder = "", Value = "", @class = "form-controlx input-smx KenDateFix" })
                        @Html.ValidationMessageFor(model => model.PreviousWorkedTo)
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    Was is a company restaurant? @Html.RadioButtonFor(model => model.IsCompanyRestaurant, true, new { @name = "IsCompanyRestaurant" }) Yes
                    @Html.RadioButtonFor(model => model.IsCompanyRestaurant, false, new { @name = "IsCompanyRestaurant" }) No
                    @Html.ValidationMessageFor(model => model.IsCompanyRestaurant)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <div>Reason For Leaving</div>
                    @Html.TextBoxFor(model => model.PreviousLeavingReason, new { style = " ", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.PreviousLeavingReason)

                </div>
                <div class="col-md-3 form-group">
                    <div>Supervisor Name</div>
                    @Html.TextBoxFor(model => model.PreviousSupervisor, new { placeholder = "", style = " ", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.PreviousSupervisor)
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4 form-group">
                    <div class="editor-field">
                        <div>Location</div>
                        @Html.TextAreaFor(model => model.PreviousLocation, new { placeholder = "", style = "  height:60px;", @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.PreviousLocation)
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                Do you have family/relative that worked for JACK IN THE BOX? @Html.RadioButtonFor(model => model.IsRelativeWorkedWithUs, true, new { @name = "IsRelativeWorkedWithUs" }) Yes
                @Html.RadioButtonFor(model => model.IsRelativeWorkedWithUs, false, new { @name = "IsRelativeWorkedWithUs" }) No
                @Html.ValidationMessageFor(model => model.IsRelativeWorkedWithUs)<br />
            </div>
        </div>
        <div id="dvFamOrRelContents" class="well well-sm" style="display: none;">
            <div class="row">
                <div class="col-md-12 form-group">
                    If "Yes" please state their name, relation to you and where they worked:<br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    @Html.TextAreaFor(model => model.RelativeName, new { placeholder = "", style = " height:60px;", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.RelativeName)
                </div>
                <div class="col-md-4 form-group">
                    @Html.TextAreaFor(model => model.RelativeRelation, new { placeholder = "", style = " height:60px;", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.RelativeRelation)
                </div>
                <div class="col-md-4 form-group">
                    @Html.TextAreaFor(model => model.RelativeLocation, new { placeholder = "", style = " height:60px;", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.RelativeRelation)
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                Are you able to perform all the essential functions of the job for which you are applying with or without accommodation? @Html.RadioButtonFor(model => model.CanWorkWithoutAccomodation, true, new { @name = "CanWorkWithoutAccomodation" }) Yes
                    @Html.RadioButtonFor(model => model.CanWorkWithoutAccomodation, false, new { @name = "CanWorkWithoutAccomodation" }) No
                    @Html.ValidationMessageFor(model => model.CanWorkWithoutAccomodation)
            </div>
        </div>




        <div class="row form-group">
            <div class="col-md-12">
                If hired do you agree to abide by the saftey rules of the company? @Html.RadioButtonFor(model => model.DoesAgreeSafetyRules, true, new { @name = "DoesAgreeSafetyRules" }) Yes
                    @Html.RadioButtonFor(model => model.DoesAgreeSafetyRules, false, new { @name = "DoesAgreeSafetyRules" }) No
                    @Html.ValidationMessageFor(model => model.DoesAgreeSafetyRules)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                Have you ever been denied a driver's license, or had your licence revoked or suspended? @Html.RadioButtonFor(model => model.HasDeniedDrivingLicense, true, new { @name = "HasDeniedDrivingLicense" }) Yes
                    @Html.RadioButtonFor(model => model.HasDeniedDrivingLicense, false, new { @name = "HasDeniedDrivingLicense" }) No
                    @Html.ValidationMessageFor(model => model.HasDeniedDrivingLicense)

            </div>
        </div>
        <div id="dvDrivingContents" class="well well-sm" style="display: none;">
            <strong>Please explain?</strong><br />
            @Html.TextAreaFor(model => model.DeniedDrivingLicenseReason, new { placeholder = "", style = " ", @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.DeniedDrivingLicenseReason)
        </div>

        <div class="row">
            <div class="col-md-12">
                <strong>Applicants in all states are required to answer the following question:</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                Have you been convicted of a felony within the last 10 years? @Html.RadioButtonFor(model => model.HasConvictedCrimed, true, new { @name = "HasConvictedCrimed"}) Yes
                    @Html.RadioButtonFor(model => model.HasConvictedCrimed, false, new { @name = "HasConvictedCrimed" }) No
                    @Html.ValidationMessageFor(model => model.HasConvictedCrimed)
            </div>
        </div>
        <div id="dvConvictedContents" class="well well-sm" style="display: none;">
            <div class="row form-group">
                <div class="col-md-12">
                    Have you been released from prison/jail as a result of a crime for which you where convected (felony or misunderstood) with in a last 10 year (A convention will not seriously penalty from employment) @Html.RadioButtonFor(model => model.IsConvictedPrisonedReleased, true, new { @name = "IsConvictedPrisonedReleased" }) Yes
                    @Html.RadioButtonFor(model => model.IsConvictedPrisonedReleased, false, new { @name = "IsConvictedPrisonedReleased" }) No
                    @Html.ValidationMessageFor(model => model.IsConvictedPrisonedReleased)
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-12">
                    If you answer yes to either question, please indicate reason?<br />
                    @Html.TextAreaFor(model => model.ConvictedPrisonedReason, new { placeholder = "", style = " ", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.ConvictedPrisonedReason)

                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    Convicted Charge<br />
                    @Html.TextAreaFor(model => model.ConvictedPrisonedCharge, new { placeholder = "", style = " ", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.ConvictedPrisonedCharge)

                </div>
                <div class="col-md-4">
                    Convicted Place<br />
                    @Html.TextAreaFor(model => model.ConvictedPrisonedPlace, new { placeholder = "", style = " ", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.ConvictedPrisonedPlace)
                </div>
                <div class="col-md-4">
                    Convicted Action<br />
                    @Html.TextAreaFor(model => model.ConvictedPrisonedAction, new { placeholder = "", style = " ", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.ConvictedPrisonedAction)
                </div>
            </div>
        </div>
    </div>
</div>
