﻿@model OS.EMS.Web.Models.ApplicantVM

<div id="dvPersonalInfoContents" class="panel panel-default EmpPanelActive">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user pull-left"></i>Personal Information</h3>
    </div>
    <div class="panel-body">
        @if (!string.IsNullOrWhiteSpace(Model.Code))
        {
            <div class="row">
                <div class="pull-right">
                    <strong class="MR6PX" style="font-size: 22px;">Applicant #: <span class="Font999">@Model.Code</span></strong>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-3 form-group">
                <div>
                    Last Name
                </div>
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div class="col-md-3 form-group">
                <div>
                    First Name
                </div>
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="col-md-2  form-group">
                <div>
                    Middle Initials
                </div>
                @Html.TextBoxFor(model => model.MiddleInitial, new { @class = "form-control input-sm", style="width:100px;" })
                @Html.ValidationMessageFor(model => model.MiddleInitial)
            </div>

        </div>


        <div class="row">
            <div class="col-md-6 form-group">
                <div>
                    Street Address
                </div>
                @Html.TextAreaFor(model => model.Address, new { style = "height:60px;", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2  form-group">
                <div>
                    State
                </div>
                @Html.DropDownListFor(model => model.StateId, Model.States, new { style = "width:90%;", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.StateId)
            </div>
            <div class="col-md-2  form-group">
                <div>
                    City
                </div>
                @Html.DropDownListFor(model => model.CityId, Model.Cities, new { style = "width:90%;", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.CityId)
            </div>
            <div class="col-md-3 form-group">
                <div>
                    Zip Code
                </div>
                @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control", style="width:100px;" })
                @Html.ValidationMessageFor(model => model.ZipCode)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2  form-group">
                <div>
                    Phone (Home)
                </div>
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-sm", style="width:150px; display:inline-block;" }) (e.g: 999-99-9999)<br />
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
            <div class="col-md-4  form-group">
                <div>
                    Email Address
                </div>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm" })
                @Html.Hidden("InitialEmail", Model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                Are you over 16 year of age? @Html.RadioButtonFor(model => model.IsOverAge, true, new { @name = "IsOverAge" }) Yes
                @Html.RadioButtonFor(model => model.IsOverAge, false, new { @name = "IsOverAge" }) No<br />
                @Html.ValidationMessageFor(model => model.IsOverAge)
            </div>
            <div class="col-md-6 form-group">
                <div>State your Date of Birth:</div>
                @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-controlx input-smx KenDateFix" })
                @Html.ValidationMessageFor(model => model.DateOfBirth)
                <div id="birthValidationMsg" class="hiddenx FontAE1128 FB" style="display: none;" >Applicant should be above 16 years</div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 form-group">
                If hired, can you provide proof of eligibility to work in the United States prior to your start date? @Html.RadioButtonFor(model => model.CanProofElegiblity, true, new { @name = "MeasurementTypeID" }) Yes
                @Html.RadioButtonFor(model => model.CanProofElegiblity, false, new { @name = "MeasurementTypeID" }) No
                <div class="editor-field">
                    @Html.ValidationMessageFor(model => model.CanProofElegiblity)
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12  form-group">
                <strong>Person to be contacted in case of an emergency
                </strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  form-group">
                <div>
                    Contact Person
                </div>
                @Html.TextBoxFor(model => model.EmergencyContactName, new { style = " ", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.EmergencyContactName)
            </div>
            <div class="col-md-4  form-group">
                <div>
                    Phone
                </div>

                @Html.TextBoxFor(model => model.EmergencyPhone, new { @class = "form-control input-sm" , style="width:150px; display:inline-block;" }) (e.g: 999-99-9999)<br />
                @Html.ValidationMessageFor(model => model.EmergencyPhone)

            </div>
        </div>
        <div class="row">
            <div class="col-md-6  form-group">
                <div>
                    Address
                </div>

                @Html.TextAreaFor(model => model.EmergencyAddress, new { style = "  height:60px;", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.EmergencyAddress)

            </div>

        </div>

    </div>
</div>




