﻿@using OS.EMS.Web.Models
@model ApplicantVM
@*@model ICollection<ApplicantEducationVM>    *@


@{
    var educationCounter = 0;    
    //if (Model.Educations != null && Model.Educations.Count > 0){
    //    educationCounter = Model.Educations.Count(); 
    //}
}
<div id="dvEducationConents" class="panel panel-default EmpPanelHide">
    <div class="panel-heading">
        <h3 class="panel-title pull-left"><i class="fa fa-user"></i>Applicant Education</h3>
        @*<a id="hlAddEducations" href="#" style="float: right; color: #fff;" class="btn btn-primary btn-sm" ><span class="glyphicon glyphicon-plus pull-left MR6PX" style="margin-top:-2px;"></span>Educations</a>*@
        <div class="btn-group btn-group-style-ext pull-right" >
                <button id="hlAddEducations" type="button" class="btn btn-default btn-sm">Add Education</button>
            </div>
    </div>


    <div class="panel-body">
        <div id="dvContEducations">
            @if (Model.Educations != null && Model.Educations.Count > 0)
            {
                //int counter = 0;

                foreach (ApplicantEducationVM educationVM in Model.Educations)
                {

                    educationVM.IntCounter = educationCounter++;
                    Html.RenderPartial("_Education", educationVM);
                }
            }

            @if (Model.Educations == null || Model.Educations.Count == 0)
            {
                <div id="NoEducation" class="row" style="padding: 10px;">
                    No Education available for applicant!
                </div>
            }
        </div>

    </div>
</div>


<script>

    var eduCount = @educationCounter;
    var eduAppId = '@Model.Id';

    $(function(){
       
        $("#hlAddEducations").click(function () {

            if (eduCount >= 0) {
                $("#NoEducation").hide();
            }

            var eduResourceUrl = "/Applicant/GetEducationView?applicantId="+eduAppId+"&educationCounter="+eduCount++;

                @*$.post("@Url.Action("GetEducationView", "Employee", new { EducationCounter=EducationCounter })", function (data, status) {*@
            $.post(eduResourceUrl, function (data, status) {
                $("#dvContEducations").append(data);
                if(eduCount >= 4){
                    $("#hlAddEducations").prop('disabled', true);
                 }
            });
        });

        if(eduCount < 4){
            var ecnt = Math.abs(eduCount - 3);
            for(var i=0; i< ecnt; i++){
                $("#hlAddEducations").trigger("click");
            }
        }

    });

</script>

