﻿@using OS.EMS.Web.Models
@model ApplicantVM


@{
    var workHistoryCounter = 0;    
}
<div id="dvEmpHistoryConents" class="panel panel-default EmpPanelHide">
    <div class="panel-heading">
        <h3 class="panel-title pull-left"><i class="fa fa-user pull-left"></i>Work History</h3>
        @*<a id="hlAddWorkHistory" href="#" style="float: right; color: #fff;"><span class="glyphicon glyphicon-plus pull-left MR6PX" style="margin-top: -2px;"></span>Work History</a>*@
            <div class="btn-group btn-group-style-ext pull-right">
                <button id="hlAddWorkHistory" type="button" class="btn btn-default btn-sm">Add Work History</button>
            </div>
    </div>


    <div class="panel-body">

        <div id="dvContWorkHistory">
            @if (Model != null && Model.ApplicantWorkHistories.Count > 0)
            {
                //int counter = 0;

                foreach (ApplicantWorkHistoryVM workHistory in Model.ApplicantWorkHistories)
                {
                    workHistory.IntCounter = workHistoryCounter++;
                    Html.RenderPartial("_WorkHistory", workHistory);
                }
            }

            @if (Model == null || Model.ApplicantWorkHistories.Count == 0)
            {
                <div id="NoWorkHistory" class="row" style="padding: 10px;">
                    No Work history available for applicant!
                </div>
            }


        </div>
    </div>
</div>


<script>

    var awhCount = @workHistoryCounter;
    var awhAppId = '@Model.Id';
     
    $("#hlAddWorkHistory").click(function () {
         
        
        if (awhCount >= 0) {
            $("#NoWorkHistory").hide();
        }
        
        var awhResourceUrl = "/Applicant/GetWorkHistoryView?applicantId="+awhAppId+"&workHistoryCounter="+awhCount++;

        $.post(awhResourceUrl, function (data, status) {
            $("#dvContWorkHistory").append(data);
            if(awhCount >= 4){
                $("#hlAddWorkHistory").prop('disabled', true);
            }
        });
    });

    if(awhCount < 4){
        var vhcnt = Math.abs(awhCount - 3);
        for(var i=0; i< vhcnt; i++){
            $("#hlAddWorkHistory").trigger("click");
        }
    }

</script>



