﻿@using OS.EMS.Web.Models
@model ApplicantVM

@{
    var interviewCounter = 0;    
}
<div id="dvEmployeeInterviewConents" class="panel panel-default EmpPanelHide">
    <div class="panel-heading">
        <h3 class="panel-title  pull-left" ><i class="fa fa-user pull-left"></i>Employee Interviews</h3>
        <div class="btn-group btn-group-style-ext pull-right" >
                <button id="hlAddInterViews" type="button" class="btn btn-default btn-sm">Add Interview</button>
            </div>
            @*<a id="hlAddInterViews" href="#" style="float: right; color: #fff;"><span class="glyphicon glyphicon-plus pull-left MR6PX" style="margin-top:-2px;"></span>Interviews</a>*@
    </div>

    <div class="panel-body">
        <div id="dvContInterviews">
            @if (Model.Interviews != null && Model.Interviews.Count() > 0)
            {
                //int counter = 0;

                foreach (ApplicantInterviewVM interview in Model.Interviews)
                {

                    //Html.RenderPartial("Interviews", empInterview, new ViewDataDictionary { { "Counter", counter++ } });
                    interview.IntCounter = interviewCounter++;
                    Html.RenderPartial("_Interview", interview);
                }
            }

            @if (Model.Interviews == null || Model.Interviews.Count == 0)
            {
                <div id="NoWorkInterview" class="row" style="padding: 10px;">
                    No Interview history available for applicant!
                </div>
            }

        </div>
    </div>
</div>


<script>

    var aiCount = @interviewCounter;
    var aiAppId = '@Model.Id';

    $("#hlAddInterViews").click(function () {
         
        if (aiCount >= 0) {
            $("#NoWorkInterview").hide();
        }
        
        var aiResourceUrl = "/Applicant/GetInterviewView?applicantId="+aiAppId+"&interviewCounter="+aiCount++;
        $.post(aiResourceUrl, function (data, status) {
            $("#dvContInterviews").append(data);

            if(aiCount >= 4){
                $("#hlAddInterViews").prop('disabled', true);
            }

        });

    });


    if(aiCount < 4){
        var cnt = Math.abs(aiCount - 3);
        for(var i=0; i< cnt; i++){
            $("#hlAddInterViews").trigger("click");
        }
    }

</script>
