﻿@using OS.EMS.Web.Models;
@model ApplicantVM

@{
    ViewBag.Title = "EmployeeApplication";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";

    var tmp = Model;


    bool IsNewEntry = true;
    if (Model.Id.HasValue)
    {
        IsNewEntry = Model.Id.Value == Guid.Empty ? true : false;
    }
    
}

<h2 class="FontAE1128" style="margin-left: -10px;">@((IsNewEntry) ? "Create" : "Edit") Applicant Form</h2>
<br />
@if (ViewData["PageMessage"] != null)
{
    <div class="row">
        @(ViewData["PageMessage"])
    </div>
}

<div class="row">
    <ul class="nav nav-tabs">
        <li class="active step-1"><a id="dvPersonalInfoSwitch" role="button">Personal Info</a></li>
        <li class="step-2"><a id="dvEducationSwitch" role="button">Educations</a></li>
        <li class="step-3"><a id="dvAvailabilitySwitch" role="button">Availability</a></li>
        <li class="step-4"><a id="dvMiscellaneousSwitch" role="button">Miscellaneous</a></li>
        <li class="step-5"><a id="dvEmpHistorySwitch" role="button">Work Histories</a></li>
        <li class="step-6"><a id="dvEmployeeInterviewSwitch" role="button">Interviews</a></li>
        <li class="step-7"><a id="dvApplicationSignSwitch" class="" role="button">Signature</a></li>
    </ul>
    <br />

    @using (Html.BeginForm(IsNewEntry ? "Create" : "Update", "Applicant", FormMethod.Post, new { id = "formApplicant" }))
    {
        Html.RenderPartial("ApplicantPersonalInfo", Model);
        Html.RenderPartial("ApplicantEducation", Model);
        Html.RenderPartial("ApplicantAvailability", Model);
        Html.RenderPartial("ApplicantMiscellaneous", Model);
        Html.RenderPartial("ApplicantWorkHistory", Model);
        Html.RenderPartial("ApplicantInterview", Model);
        Html.RenderPartial("ApplicantSignature", Model);
             
        <div class="row  form-group">
            <div class="col-md-12">
                <input id="btnSubmitForm" type="submit" value="@((IsNewEntry) ? "Create" : "Update")" class="btn btn-primary" style="display: none; min-width:75px;" />
                <input id="btnNextTab" type="button" value="Next" class="btn btn-primary" data-step="step-1" style="min-width: 75px;" />
                @*@Html.ActionLink("Cancel", "List", "Applicant", null, new { @class = "btn btn-primary btn-sm", style="min-width:100px;"  })*@
                @if (IsNewEntry)
                {
                    @Html.ActionLink("Cancel", "Dashboard", "Home", null, new { @class = "btn btn-primary btn-sm", style = "min-width:75px;" });
                }
                else if (Model.EmployeeId.HasValue)
                {
                    @Html.ActionLink("Cancel", "Details", "Employee", new { id = Model.EmployeeId.Value }, new { @class = "btn btn-primary btn-sm", style = "min-width:75px;" });
                }
                else
                {
                    @Html.ActionLink("Cancel", "List", "Applicant", null, new { @class = "btn btn-primary btn-sm", style = "min-width:75px;" });
                }

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Code)
                @Html.HiddenFor(model => model.IsActive)
                @Html.ValidationSummary(true)


            </div>
        </div>
        
    }

</div>




@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var nextBtn;

        $(function () {

            nextBtn = new NextBtn();

            //At PeronalInfo
            $("#DateOfBirth").kendoDatePicker();
            //For Misc
            $("#PreviousWorkedFrom").kendoDatePicker();
            $("#PreviousWorkedTo").kendoDatePicker();
            $("#DateOfAvailability").kendoDatePicker();
            $("#SesonalEmploymentFrom").kendoDatePicker();
            $("#SesonalEmploymentTo").kendoDatePicker();

            $("#Phone").mask("(999)999-9999");
            $("#EmergencyPhone").mask("(999)999-9999");


            //For Tabs
            $(".nav-tabs a").click(function () {
                if (!IsValidForm()) { return false; }

                EMSPanelHide();


                $(".nav-tabs li").removeClass("active");
                $(this).parent().addClass("active");


                $("#btnNextTab").show();
                $("#btnSubmitForm").hide();

                //For Panels
                if ($(this).attr("id") == "dvPersonalInfoSwitch") {
                    $("#dvPersonalInfoContents").addClass("EmpPanelActive");
                    nextBtn.setStep("step-1");
                } else if ($(this).attr("id") == "dvEducationSwitch") {
                    $("#dvEducationConents").addClass("EmpPanelActive");
                    nextBtn.setStep("step-2");
                } else if ($(this).attr("id") == "dvAvailabilitySwitch") {
                    $("#dvAvailabilityConents").addClass("EmpPanelActive");
                    nextBtn.setStep("step-3");
                } else if ($(this).attr("id") == "dvMiscellaneousSwitch") {
                    $("#dvMiscellaneousConents").addClass("EmpPanelActive");
                    nextBtn.setStep("step-4");
                } else if ($(this).attr("id") == "dvEmpHistorySwitch") {
                    $("#dvEmpHistoryConents").addClass("EmpPanelActive");
                    nextBtn.setStep("step-5");
                } else if ($(this).attr("id") == "dvEmployeeInterviewSwitch") {
                    $("#dvEmployeeInterviewConents").addClass("EmpPanelActive");
                    nextBtn.setStep("step-6");
                } else if ($(this).attr("id") == "dvApplicationSignSwitch") {
                    $("#dvApplicationSignConents").addClass("EmpPanelActive");
                    //nextBtn.setStep("step-7");
                    $("#btnNextTab").hide();
                    $("#btnSubmitForm").show();
                }


            });


            //For Validation
            $("#DateOfBirth").blur(function () {
                return ValidaDOB();
            });

            $("#btnSubmitForm").click(function () {
                $("#formApplicant").valid();
                return ValidaDOB();
            });

            //At Misclenous
            ($('#IsPreviouslyWorkedWithUs').is(':checked')) ? $("#dvIsPrevWorkedContents").show() : $("#dvIsPrevWorkedContents").hide();
            $("[name=IsPreviouslyWorkedWithUs]").click(function () {
                if (this.value == "True") {
                    $("#dvIsPrevWorkedContents").show();

                } else {
                    $("#dvIsPrevWorkedContents").hide();
                    $("#PreviousWorkedStoreCode").val("");
                    $("#PreviousWorkedContact").val("");
                }
            });

            ($('#IsRelativeWorkedWithUs').is(':checked')) ? $("#dvFamOrRelContents").show() : $("#dvFamOrRelContents").hide();
            $("[name=IsRelativeWorkedWithUs]").click(function () {
                (this.value == "True") ? $("#dvFamOrRelContents").show() : $("#dvFamOrRelContents").hide();
            });

            ($('#HasDeniedDrivingLicense').is(':checked')) ? $("#dvDrivingContents").show() : $("#dvDrivingContents").hide();
            $("[name=HasDeniedDrivingLicense]").click(function () {
                (this.value == "True") ? $("#dvDrivingContents").show() : $("#dvDrivingContents").hide();
            });

            ($('#HasConvictedCrimed').is(':checked')) ? $("#dvConvictedContents").show() : $("#dvConvictedContents").hide();
            $("[name=HasConvictedCrimed]").click(function () {
                (this.value == "True") ? $("#dvConvictedContents").show() : $("#dvConvictedContents").hide();
            });

            //At Avability
            ($('#IsSesonalEmployment').is(':checked')) ? $("#dvSeasonalEmploymentCont").show() : $("#dvSeasonalEmploymentCont").hide();
            $("[name=IsSesonalEmployment]").click(function () {
                (this.value == "True") ? $("#dvSeasonalEmploymentCont").show() : $("#dvSeasonalEmploymentCont").hide();
            });

            ($('#IsPreventToWorkDaily').is(':checked')) ? $("#dvPreventToWorkCont").show() : $("#dvPreventToWorkCont").hide();
            $("[name=IsPreventToWorkDaily]").click(function () {
                (this.value == "True") ? $("#dvPreventToWorkCont").show() : $("#dvPreventToWorkCont").hide();
            });


            //For Next Button
            $("#btnNextTab").click(function () {

                if (!IsValidForm()) { return false };

                EMSPanelHide();

                $(".nav-tabs li").removeClass("active");
                //$(this).parent().addClass("active");



                switch (nextBtn.getStep()) {
                    case "step-1":
                        //$("#dvPersonalInfoContents").addClass("EmpPanelActive");
                        $("#dvEducationConents").addClass("EmpPanelActive");
                        $(".nav-tabs li.step-2").addClass("active");
                        nextBtn.setStep("step-2");
                        break;
                    case "step-2":
                        $(".nav-tabs li.step-3").addClass("active");
                        $("#dvAvailabilityConents").addClass("EmpPanelActive");
                        nextBtn.setStep("step-3");
                        break;
                    case "step-3":
                        $(".nav-tabs li.step-4").addClass("active");
                        $("#dvMiscellaneousConents").addClass("EmpPanelActive");
                        nextBtn.setStep("step-4");
                        break;
                    case "step-4":
                        $(".nav-tabs li.step-5").addClass("active");
                        $("#dvEmpHistoryConents").addClass("EmpPanelActive");
                        nextBtn.setStep("step-5");
                        break;
                    case "step-5":
                        $(".nav-tabs li.step-6").addClass("active");
                        $("#dvEmployeeInterviewConents").addClass("EmpPanelActive");
                        nextBtn.setStep("step-6");
                        break;
                    case "step-6":
                        $(".nav-tabs li.step-7").addClass("active");
                        $("#dvApplicationSignConents").addClass("EmpPanelActive");
                        //nextBtn.setStep("step-7");
                        $("#btnNextTab").hide();
                        $("#btnSubmitForm").show();
                        break;

                }

            });

        });

        var NextBtn = function () {
            this.nb = $("#btnNextTab");
            this.getStep = function () { return this.nb.attr("data-step") };
            this.setStep = function (step) {
                this.nb.attr("data-step", step);
            }
        }


        function ValidaDOB() {
            if ((new Date().getYear() - new Date($("#DateOfBirth").val()).getYear()) <= 16) {
                $("#birthValidationMsg").show();
                return false;
            } else {
                $("#birthValidationMsg").hide();
                return true;
            }
        }

        function EMSPanelHide() {

            $(".EmpPanelActive").each(function () {
                $(this).removeClass("EmpPanelActive").addClass("EmpPanelHide");
            });
        }

        function IsValidForm() {

            var isValid = $("#formApplicant").valid();

            if (isValid) {
                isValid = ValidaDOB();
            }

            return isValid;

        }

    </script>

}
