﻿@model IEnumerable<OS.EMS.Web.Models.ApplicantVM>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";
    
    
}

<div class="panel panel-default ">
    <div class="panel-heading">
        <h3 class="panel-title pull-left"><i class="fa fa-users"></i>Pending Applicants</h3>
        <div class="btn-group btn-group-style-ext pull-right">
            <button type="button" class="btn btn-default btn-sm">Active</button>
            <button type="button" class="btn btn-default btn-sm">Inactive</button>
            @Html.ActionLink("New Applicant", "Create", null, new { @class = "btn btn-default btn-sm" })
        </div>
    </div>
    <div class="panel-body" style="padding: 0px;">

        <div class="RC GridHeaderBG">
            <div class="pull-left GridCP" style="width: 18%;">Applicant Code</div>
            <div class="pull-left GridCP" style="width: 42%;">Applicant Name</div>
            <div class="pull-right GridCP" style="width: 40%; text-align: right;">Option(s)</div>
        </div>
        @{
            int count = 0;    
        }
        @foreach (var item in Model)
        {
            count++;


            string tmp = (count % 2).ToString();

            //string activeIcon = (item.IsActive) ? "glyphicon-cog" : "glyphicon-edit";
            string activeIcon = (true) ? "glyphicon-cog" : "glyphicon-edit";
            
            <div class="RC GridH @( ((count % 2) == 0) ? "GridAltBG" : "")">
                <div class="pull-left GridCP" style="width: 18%;">@Html.DisplayFor(modelItem => item.Code)</div>
                <div class="pull-left GridCP" style="width: 42%;">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</div>
                <div class="pull-right GridCP" style="width: 40%;">
                    @*@Html.ActionLink(" ", "AssignStore", "Applicant", new { id = item.Id }, new { @class = "glyphicon glyphicon-new-window pull-right", style = "text-decoration:none;color:#222;", title = "Promote Applicant to Employee" })&nbsp;*@
                    @Html.ActionLink(" ", "Update", new { id = item.Id }, new { @class = "fa fa-edit pull-right", title = "Edit Applicant" })
                    @if (!item.IsActive)
                    {
                        using (Html.BeginForm("AssignStore", "Employee", FormMethod.Post, new { @class = "pull-right", style = "width:320px;" }))
                        {
                        <input type="submit" value="Assign Store" class="btn btn-primary pull-right" style="color: #fff !important; margin-right: 10px; border: 0px;" />
                        @Html.DropDownList("StoreId", ViewData["StoresSLI"] as IEnumerable<SelectListItem>, new { style = "width:180px; height:30px; !important; color:#333;", @class = "form-control input-sm MR6PX pull-right" })
                        
                        @Html.Hidden("id", item.Id);
                        }
                    }

                </div>
            </div>
        }
        <div class="RC GridFooterBG GridAltBG GridCP GridFooterBG">Total Records: @Model.Count()</div>
    </div>

</div>




