﻿
@using OS.EMS.Model.Helper
@model OS.EMS.Web.Models.AcceptableDocumentVM


<div class="well well-sm">
    <div class="row">
        <div class="col-md-5  form-group">
            <div class="row">
                <div class="col-md-12  form-group">
                    @Html.LabelFor(model => model.Title)
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.DocumentTypeId)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.LabelFor(model => model.Authority)
                    @Html.TextBoxFor(model => model.Authority, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.DocumentTypeId)
                </div>
                <div class="col-md-6 form-group">
                    @Html.LabelFor(model => model.Number)
                    @Html.TextBoxFor(model => model.Number, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.DocumentTypeId)
                </div>

            </div>
            <div class="row">
                <div class="col-md-6  form-group">
                    @Html.LabelFor(model => model.DocumentType)
                    @Html.DropDownListFor(model => model.DocumentTypeId, Model.DocumentType, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.DocumentTypeId)


                </div>
                <div class="col-md-6 form-group">
                    @Html.LabelFor(model => model.ExpiryDate)
                    @Html.TextBoxFor(model => model.ExpiryDate, new { @class = "form-controlx input-smx bind-ExpiryDate KenDateFix" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.I9FormId)
                </div>
            </div>
        </div>
        <div class="col-md-7  form-group">
            <div class="row">
                <div class="col-md-12  form-group">
                    <input id="@Model.DocumentCode" type="file" name="@Model.DocumentCode"  />
                    @Html.HiddenFor(model => model.DocumentCode)
                </div>
            </div>
            <div class="RC">

                @{
                 
                
                    if (Model != null && Model.I9FormId != null && Model.DocumentCode != null)
                    {
                        string dirRelPath = AppConstants.EmpDocPath + Model.I9FormId;
                        DirectoryInfo di = new DirectoryInfo(Server.MapPath(dirRelPath));
                        if (di.Exists)
                        {
                            FileInfo[] files = di.GetFiles(Model.DocumentCode + "*");
                            if (files != null && files.Any())
                            {
                                string fx = Path.Combine(dirRelPath, files.FirstOrDefault().Name);
                                <img src="@Url.Content(fx)" width="100" />
                            }

                        }
                    }


    //if(files != null && files.Count() > 0){
    //    //var fn = files.FirstOrDefault().FullName;

    //    //System.Uri uri1 = new Uri(fn);
    //    //System.Uri uri2 = new Uri(fn);
    //    //Uri relativeUri = uri1.MakeRelativeUri(uri2);


    //}
                }
            </div>

        </div>
    </div>
</div>
