﻿@{
    ViewBag.Title = "ImportExcel";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";
}

<h2>Import Attendance</h2>


@using (Html.BeginForm("ImportExcel", "Attendance", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="file" id="FileUpload1" name="FileUpload1" class="btn pull-left" style="margin-right: 10px;" /><input type="submit" id="Submit" class="btn btn-primary pull-left" name="Submit" value="Submit" />
        </div>
        @*<div class="col-md-2 form-group">
            
        </div>*@
    </div>
}