﻿@model IEnumerable<OS.EMS.Model.AttendanceData>

@{
    ViewBag.Title = "ListAttendanceData";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";
}

<h2>Attendance Data</h2>

<p>
    @Html.ActionLink("Create New", "ImportExcel")
</p>
@if (Model != null)
{
    <div>Total Records: @Model.Count()</div>
}

<table style="width:98%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AcountNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exception)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AcountNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exception)
        </td>
        <td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
