﻿@model OS.EMS.Web.Models.AttendanceInfoVM
@{
    //Layout = null;
}

<div class="panel panel-default ">
    <div class="panel-heading" style="background-color: #222;">
        <h3 class="panel-title FB"><i class="fa fa-search"></i>Search Attendance</h3>
    </div>
    <div class="panel-body" style="padding: 0px;">

        <div class="RC well well-sm" style="margin: 16px 10px 16px 16px;">
            @using (Html.BeginForm("SearchAttendance", "Employee", FormMethod.Post, new { id = "frmSearchAttendance" }))
            {
                <div class="RC" style="padding-top: 10px;">
                    <div class="col-md-3 form-group">
                        <div>
                            From Date
                        </div>
                        <input id="FromDate" name="FromDate" type="text" value="@Model.FromDate" class="form-controlx input-smx KenDateFix" style="width: 100%;" />
                    </div>
                    <div class="col-md-3 form-group">
                        <div>
                            To Date
                        </div>
                        <input id="ToDate" name="ToDate" type="text"  value="@Model.ToDate"  class="form-controlx input-smx KenDateFix" style="width: 100%;" />
                    </div>
                    <div class="col-md-2 form-group" style="padding-left: 0px;">
                        <div>
                            &nbsp;
                        </div>
                        <input type="submit" value="Search" class="btn btn-primary" />
                        @*<input type="button" value="Search" class="btn btn-primary" />*@
                        <input id="hfEmployeeID" name="hfEmployeeID" type="hidden" value="@Model.EmployeeId" />
                    </div>
                </div>
            }

            <div class="RC" style="font-weight: bold; padding-top: 10px;">
                <div class="col-md-3 form-group">
                    <div class="pull-left  pl-06 pr-06 FontAE1128">Salary Rate:</div>
                    <div class="pull-left ">@Model.SaleryRate $ Per Hour</div>
                </div>
                <div class="col-md-3 form-group ">
                    <div class="pull-left pl-06 pr-06 FontAE1128">Working Hours:</div>
                    <div class="pull-left ">@Model.WorkingHours</div>
                </div>
                <div class="col-md-3 form-group ">
                    <div class="pull-left pl-06 pr-06 FontAE1128">Tax Rate:</div>
                    <div class="pull-left ">0.025 $</div>
                </div>
                <div class="col-md-3 form-group ">
                    <div class="pull-left pl-06 pr-06 FontAE1128">Salary Payable:</div>
                    <div class="pull-left ">@Model.SaleryPayable $</div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default" style="margin: 0px 14px">
        <div class="panel-heading" style="background-color: #222;">
            <h3 class="panel-title FB"><i class="fa fa-list"></i>Employee Attendance</h3>
        </div>
        <div class="panel-body" style="padding: 0px;">
            <div class="RC GridHeaderBG">
                <div class="pull-left GridCP" style="width: 15%;">Attendance Code</div>
                <div class="pull-left GridCP" style="width: 20%;">Employee Name</div>
                <div class="pull-left GridCP" style="width: 20%;">Date & Time</div>
                <div class="pull-left GridCP" style="width: 20%;">Status</div>
            </div>
            
            @if (Model.AttendancesToday != null && Model.AttendancesToday.Any())
            {
                <div class="GridAttendance">Today</div>
                Html.RenderPartial("_AttendanceTemplate", Model.AttendancesToday);
            }
            
            @if (Model.AttendancesYesterday != null && Model.AttendancesYesterday.Any())
            {
                <div class="GridAttendance">Yesterday</div>
                Html.RenderPartial("_AttendanceTemplate", Model.AttendancesYesterday);
            }
            
            @if (Model.AttendancesSearched != null && Model.AttendancesSearched.Any()) { Html.RenderPartial("_AttendanceTemplate", Model.AttendancesSearched); }
            

        </div>
    </div>
    <br />
</div>


@*<script>
     ;
    $(function () {
        //Bind Date Filed
        $("#FromDate").kendoDatePicker();
        $("#ToDate").kendoDatePicker();
    });
    
</script>*@
