﻿@model IEnumerable<OS.EMS.Model.AttendanceData>

@if (Model != null)
{
    int count = 0;
    foreach (var item in Model)
    {

        count++;

        string tmp = (count % 2).ToString();

        string activeIcon = (item.IsActive) ? "glyphicon-cog" : "glyphicon-edit";
            
    <div class="RC  @( ((count % 2) == 0) ? "GridAltBG" : "")">
        <div class="pull-left GridCP" style="width: 15%;">@Html.DisplayFor(modelItem => item.AcountNo)</div>
        <div class="pull-left GridCP" style="width: 20%;">@(item.Name)</div>
        <div class="pull-left GridCP" style="width: 20%;">@(item.Time)</div>
        <div class="pull-left GridCP" style="width: 20%;">@(item.State)</div>
        <div class="pull-left GridCP" style="width: 10%;"></div>
        @*<div class="pull-left GridCP" style="width: 6%;">@Html.ActionLink(" ", "Update", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit", style = "text-decoration:none;color:#AE1128;" })&nbsp;@Html.ActionLink(" ", "Details", "Store", new { id = item.Id }, new { @class = "glyphicon glyphicon-eye-open", style = "text-decoration:none;color:#AE1128;" })</div>*@
    </div>
    }
}
@*<div class="RC GridFooterBG GridAltBG GridCP GridFooterBG">Total Records: @Model.Count()</div>*@