﻿@using OS.EMS.Web.Models;
@model EmployeeVM

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";

    bool IsNewEntry = true;
    if (Model.Id.HasValue)
    {
        IsNewEntry = Model.Id.Value == Guid.Empty ? true : false;
    }
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i>@((IsNewEntry) ? "Create" : "Edit") Employee</h3>
    </div>
    <div class="panel-body">
        @*using (Html.BeginForm(Model.Id.Value == Guid.Empty ? "Create" : "Update", "I9Form", FormMethod.Post, new { id = "formi9", enctype = "multipart/form-data" }))*@
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
           
            <div class="row form-group">
                @if (Model.Id.HasValue)
                {
                    <div class="col-md-12x Font999 pull-right pr-06 ">
                        <b>Employee #:</b>@Model.Code
                    </div>
                }
            </div>

            <div class="row">
                <div class="col-md-3 form-group">
                    <div>
                        Last Name
                    </div>
                    @Html.TextBoxFor(model => model.LastName, new { style = " ", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
                <div class="col-md-3  form-group">
                    <div>
                        First Name
                    </div>
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
                <div class="col-md-2  form-group">
                    <div>
                        Middle Initials
                    </div>
                    @Html.TextBoxFor(model => model.MiddleInitial, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.MiddleInitial)
                </div>

            </div>

            <div class="row">
                <div class="col-md-6  form-group">
                    <div>
                        Street Address
                    </div>
                    @Html.TextAreaFor(model => model.Address, new { style = "  height:60px; ", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
            <div class="row ">
                <div class="col-md-2  form-group">
                    <div>
                        State
                    </div>
                    @Html.DropDownListFor(model => model.StateId, Model.States, new { style = "width:90%;", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.StateId)
                </div>
                <div class="col-md-2  form-group">
                    <div>
                        City
                    </div>
                    @Html.DropDownListFor(model => model.CityId, Model.Cities, new { style = "width:90%;", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.CityId)
                </div>
                <div class="col-md-2  form-group">
                    <div>
                        Zip Code
                    </div>
                    @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ZipCode)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2  form-group">
                    <div>
                        Phone (Home)
                    </div>
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
                <div class="col-md-4  form-group">
                    <div>
                        Email Address
                    </div>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm" })
                    @Html.Hidden("InitialEmail", Model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div>
                        Date of Birth
                    </div>
                    @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-controlx input-smx KenDateFix ", Value = "12/03/2013 12:00:00 AM" })
                    @Html.ValidationMessageFor(model => model.DateOfBirth)
                </div>
            </div>    
            
            <div class="row  well well-sm " style="margin: 0px; padding-bottom: 16px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <div>
                                Store (Assign to Employee)
                            </div>
                            @Html.DropDownListFor(model => model.StoreId, Model.Stores, new { style = "width:90%;", @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.StoreId)
                        </div>
                        <div class="col-md-3  form-group">
                            <div>
                                Salery Rate
                            </div>
                            @Html.TextBoxFor(model => model.SaleryRate, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.SaleryRate)
                        </div>
                        <div class="col-md-3 form-group">
                            <div>
                                Attendance Code
                            </div>
                            @Html.TextBoxFor(model => model.AttendanceCode, new { style = " ", @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.Code)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  form-group">
                            <div>Social Security Number</div>
                            @Html.TextBoxFor(model => model.SocialSecurityNumber, new { @class = "form-control input-sm", style = "width:150px; display:inline-block; " }) (e.g: 999-99-9999)<br />
                            @Html.ValidationMessageFor(model => model.SocialSecurityNumber)
                        </div>
                        <div class="col-md-8  form-group">
                            If your last name differs from that shown on your social security card, check here. You must call 1-800-772-1213 for a replacement card. @Html.CheckBoxFor(model => model.LastNameDiffer)
                        </div>
                    </div>
                </div>
            </div>
            
            <br /> 
            <div class="row  form-group">
                <div class="col-md-12">
                    <input type="submit" value="@((IsNewEntry) ? "Create" : "Update")" class="btn btn-primary" style="min-width:75px;"/>

                    @Html.ActionLink("Cancel", "Details", "Store", new { id = Model.StoreId }, new { @class = "btn btn-primary btn-sm", style = "min-width:75px;" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.ApplicantId)
                    @Html.HiddenFor(model => model.I9FormId)
                    @Html.HiddenFor(model => model.FormW4Id)
                    @Html.HiddenFor(model => model.IsActive)
                    @Html.HiddenFor(model => model.IsManager)
                    @Html.HiddenFor(model => model.SystemUserId)
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.AttendanceCode)
                    @Html.HiddenFor(model => model.SocialSecurityNumber)
                    @Html.ValidationSummary(true)
                </div>
            </div>                        
        }

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(function () {
            //At PeronalInfo
            $("#DateOfBirth").kendoDatePicker();

        });
    </script>

}
