﻿@using OS.EMS.Web.Models;
@model EmployeeVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";

                            //var employeeAttendances = ViewData["EmployeeAttendances"] as List<AttendanceVM>;
 
}

<div class="panel panel-default ">
    <div class="panel-heading">
        <h3 class="panel-title FB"><i class="fa fa-user"></i>Employee Details</h3>
    </div>
    <div class="panel-body" style="padding: 0px;">
        <div class="row" style="padding-left: 16px; padding-top: 16px;">
            <div class="col-md-7 form-group">
                <div class="RC">
                    <div class="pull-left HeadingDetailsMain">
                        <div class="pull-left pr-06">@Model.LastName</div>
                        @if (!string.IsNullOrWhiteSpace(Model.MiddleInitial))
                        {
                            <div class="pull-left pr-06">@Model.MiddleInitial</div>
                        }
                        <div class="pull-left pr-06">@Model.FirstName</div>

                    </div>
                    <div class="pull-left pr-06 HeadingDetailsSep Font999">(@Model.Code)</div>
                </div>
                <div class="RC">
                    <div class="pull-left HeadingDetailsMain2">
                        @Html.ActionLink(Model.Store.Name, "Details", "Store", new { id = @Model.StoreId }, new { style = "text-decoration:underline; color:#222;" })

                    </div>
                </div>

                <div class="RC">
                    <div class="pull-left pr-06">@Model.Address,</div>
                    <div class="pull-left pr-06">@Model.City.Name,</div>
                    <div class="pull-left pr-06">@Model.State.Code</div>
                    <div class="pull-left pr-06">- @Model.ZipCode</div>
                </div>
                <div class="RC">
                    <div class="pull-left"><b>Contact No:</b> @Model.Phone</div>
                    <div class="pull-left pl-06 pr-06">|</div>
                    <div class="pull-left"><b>Email Address:</b> @Model.Email</div>
                </div>
            </div>
            <div class="col-md-5 form-group">
                <div class="RC">
                    <div class="pull-right">
                        <a href="@Url.Action(Model.FormW4Id.HasValue ? "Update" : "Create", "FormW4", new { id = Model.FormW4Id.HasValue ? Model.FormW4Id : Model.Id })" style="display: block; text-decoration:none; font-weight:bold; width: 96px; margin-right:16px; ">
                            <div class="RC GradientDashboardBox" style="text-align: center; background-color: #F5F5F5; height: 96px;">
                                <div class="RC" style="margin-top: 16px;">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    @*<img src="~/Content/Images/Common/create-user.png" />*@
                                </div>
                                <div class="RC" style="color: #444;">
                                    @(Model.FormW4Id.HasValue ? "Edit FormW4" : "Create FormW4")
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="pull-right">
                        <a href="@Url.Action(Model.I9FormId.HasValue ? "Update" : "Create", "I9Form", new { id = Model.I9FormId.HasValue ? Model.I9FormId : Model.Id })" style="display: block; text-decoration:none; font-weight:bold; width: 96px; margin-right:16px; ">
                            <div class="RC GradientDashboardBox" style="text-align: center; background-color: #F5F5F5; height: 96px;">
                                <div class="RC" style="margin-top: 16px;">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    @*<img src="~/Content/Images/Common/create-user.png" />*@
                                </div>
                                <div class="RC" style="color: #444;">
                                    @(Model.I9FormId.HasValue ? "Edit FormI9" : "Create FormI9")
                                </div>
                            </div>
                        </a>
                    </div>
                    @if (Model.ApplicantId.HasValue)
                    {
                        <div class="pull-right">
                            <a href="@Url.Action("Update", "Applicant", new { id = Model.ApplicantId })" style="display: block; text-decoration: none; font-weight: bold; width: 96px; margin-right: 16px;">
                                <div class="RC GradientDashboardBox" style="text-align: center; background-color: #F5F5F5; height: 96px;">
                                    <div class="RC" style="margin-top: 16px;">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        @*<img src="~/Content/Images/Common/create-user.png" />*@
                                    </div>
                                    <div class="RC" style="color: #444;">
                                        Edit Applicant Form
                                    </div>
                                </div>
                            </a>
                        </div>
                    }


                    <div class="pull-right">
                        <a href="@Url.Action("Update", "Employee", new { id = Model.Id })" style="display: block; text-decoration:none; font-weight:bold;width: 96px; margin-right:16px;">
                            <div class="RC  GradientDashboardBox" style="text-align: center; background-color: #F5F5F5; height: 96px;">
                                <div class="RC" style="margin-top: 16px;">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    @*<img src="~/Content/Images/Common/create-user.png" />*@
                                </div>
                                <div class="RC" style="color: #444;">
                                    @*@Html.ActionLink("Create Employee", "CreateEmployee", "Employee")*@
                                    Edit Employee
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>





    </div>
</div>

<div id="dvAttendanceInfo">
    @{ Html.RenderPartial("_Attendance", Model.AttendanceInfo); }
</div>

<script>

    $(function () {
        AttenCall();
    });


    var AttenCall = function () {
        $("#FromDate").kendoDatePicker();
        $("#ToDate").kendoDatePicker();

        //For Attendance
        $("#frmSearchAttendance").submit(function (e) {
            var url = '@Url.Action("SearchAttendance", "Employee")'; // the script where you handle the form input.

            $.ajax({
                type: "POST",
                url: url,
                data: $("#frmSearchAttendance").serialize(), // serializes the form's elements.
                success: function (data) {
                    $("#dvAttendanceInfo").html(data);
                    AttenCall();
                }
            });

            return false; // avoid to execute the actual submit of the form.
        });

    };

</script>
