﻿@model IEnumerable<OS.EMS.Web.Models.EmployeeVM>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";
}

<div class="" style="padding-bottom: 6px;">
    <div class="btn-group">
        <button type="button" class="btn btn-default">Active</button>
        <button type="button" class="btn btn-default">Inactive</button>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Options
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Create Employee", "Create", null, new { @class = "" })</li>
            </ul>
        </div>
    </div>
</div>



<div class="panel panel-default ">
    <div class="panel-heading">
        <h3 class="panel-title FB" >Employees List<i class="fa fa-users pull-left" ></i></h3>
    </div>
    <div class="panel-body" style="padding: 0px;">
        @{Html.RenderPartial("_EmployeeList", Model);}
    </div>
</div>
