﻿@model IEnumerable<OS.EMS.Web.Models.EmployeeVM>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";
}

<div class="panel panel-default ">
    <div class="panel-heading">
        <h3 class="panel-title FB pull-left"><i class="fa fa-users"></i>Store Managers </h3>
        <div class="btn-group btn-group-style-ext pull-right">
            <button type="button" class="btn btn-default btn-sm">Active</button>
            <button type="button" class="btn btn-default btn-sm">Inactive</button>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                    Options
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a>Link Here</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body" style="padding: 0px;">
        @{Html.RenderPartial("_EmployeeList", Model);}
    </div>
</div>
