﻿/*CUSTOM STYLES*/


.bg-app
{
    background-image: url("/Content/Images/Common/bg-app.png");
    background-repeat: repeat;
}

.pl-06
{
    padding-left: 6px;
}

.pr-06
{
    padding-right: 6px;
}


.FB
{
    font-weight: bold;
}

.RC
{
    clear: both;
    overflow: auto;
}

.CH
{
    overflow: hidden;
}

.ColorWhite
{
    color: #fff;
}

.ACR
{
    text-align: right;
}

.ACL
{
    text-align: left;
}

.MR6PX
{
    margin-right: 6px;
}

.ML6PX
{
    margin-left: 6px;
}

.EmpPanelHide
{
    display: none;
}

.EmpPanelActive
{
    display: block;
}



.PanelHide
{
    display: none;
}

.PanelActive
{
    display: block;
}






.FontAE1128
{
    color: #AE1128;
}

.Font999
{
    color: #999;
}

.AncWhite, .AncWhite:hover
{
    color: #fff;
}

.AncGrey, .AncGrey:hover
{
    color: #2F2F2F;
}


.DashboardLogOut
{
    font-size: 24px;
    color: #fff;
    padding-left: 8px;
    display: block;
    margin-top: -6px;
}


.HeadingDetailsMain
{
    color: #AE1128;
    font-size: 30px;
    /*line-height:30px;*/
    margin-right: 10px;
}

.HeadingDetailsSep
{
    font-size: 20px;
    line-height: 44px;
}

.HeadingDetailsMain2
{
    /*color: silver;*/
    font-size: 20px;
    line-height: 30px;
    /*    padding-left:16px;*/
    padding-top: 4px;
    margin-top: -6px;
}

.BGHeader
{
    color: #AE1128;
}

/*BS OVERWRITES*/


/*.panel-heading .panel-title .glyphicon {

    margin-top: -2px;
    margin-right:6px;
}*/


.panel-default .panel-title .fa, .panel-default .panel-title .glyphicon
{
    font-size: 19px;
    margin-top: -1px;
    margin-right: 5px;
}

.panel-default .panel-title
{
    padding-top: 5px;
}

.panel-default > .panel-heading
{
    /*5795*/
    background-color: #AE1128;
    border-color: #DDDDDD;
    color: #fff;
    height: 46px;
    line-height: 46px;
}


.btn-primary
{
    background-color: #222;
    border-color: #222;
}

    .btn-primary:hover
    {
        background-color: #AE1128;
        border-color: #AE1128;
    }

.btn-grey
{
    /*New ttnTheme*/
    background-color: #2F2F2F;
    border-color: #357EBD;
    color: #FFFFFF;
}


.btn-ems
{
    /*New ttnTheme*/
    background-color: #2F2F2F;
    border-color: #357EBD;
    color: #FFFFFF;
}

    .btn-ems:hover,
    .btn-ems:focus,
    .btn-ems:active,
    .btn-ems.active,
    .open .dropdown-toggle.btn-ems
    {
        color: #ffffff;
        background-color: #AE1128;
        border-color: #398439;
    }


.alert
{
    padding: 10px !important;
}

/*END BS Oerwrite*/

/*TABS*/
.nav-tabs
{
    border-bottom: 1px solid #AE1128;
}


    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
    {
        background-color: #AE1128;
        color: #FFFFFF;
    }

    .nav-tabs > li > a
    {
        color: #222222;
    }

        .nav-tabs > li > a:hover
        {
            border-color: #eeeeee #eeeeee #AE1128;
            background-color: #ddd;
        }


input[type="text"], select, input[type="password"], textarea
{
    color: #666;
    width: 98%;
}



/*input[type="text"], select, input[type="password"] {
  display: block;
  width: 98%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input[type="text"], textarea {
  display: block;
  width: 98%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}*/


/*For Table*/

.GridHeaderBG
{
    background-color: #222222;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
}

.GridFooterBG
{
    border-top: 1px solid #FFFFFF;
    color: #333;
    font-weight: bold;
}

.GridCP
{
    padding: 4px 1% 4px 1%;
    line-height: 30px;
}

    .GridCP .glyphicon
    {
        padding-top: 5px;
    }


.GridAltBG
{
    background-color: #E5E3E4;
}


.GridAttendance
{
    line-height: 30px;
    padding: 4px 1%;
    background-color: #eeb7b7;
    font-weight: bold;
}


.GridH:hover, .GridH div :hover
{
    color: #AE1128 !important;
}


.GridH .fa
{
    font-size: 24px;
    margin-top: 4px;
}

.GridH a.fa
{
    text-decoration: none;
    color: #222;
    margin-right: 6px;
}

.GridLeftBar
{
    border-left: solid 6px #AE1128;
}


/*Gradient*/
.GradientDashboardBox
{
    background: linear-gradient(bottom, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(bottom, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(bottom, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(bottom, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(bottom, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
    /* display: inline-block;*/
    /*float: left;
    width: 113px;
    height: 99px;
        */
    border: 1px solid #dddddd;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    padding: 2px;
}

    .GradientDashboardBox:hover
    {
        /*color:#AE1128 !important;*/
        border: 1px solid #eeb7b7;
        background: linear-gradient(bottom, #fae7e7 50%, rgba(255,255,255,1) 100%);
        background: -moz-linear-gradient(bottom, #fae7e7 50%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(bottom, #fae7e7 50%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(bottom, #fae7e7 50%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(bottom, #fae7e7 50%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fae7e7',GradientType=0 ); /* IE6-8 */
    }


.QuickShortCutsCont
{
    text-align: center;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 5px;
    float: left;
    margin: 50px 0 0px 0;
    padding: 2px;
    width: 100%;
}

    .QuickShortCutsCont .glyphicon, .QuickShortCutsCont .fa
    {
        /*color: #333;*/
        /*font-size: 24px;*/
    }

    .QuickShortCutsCont .glyphicon, .QuickShortCutsCont .fa
    {
        /* color: #333;
    font-size: 24px;
       */
    }

    .QuickShortCutsCont a
    {
        color: #333;
        display: inline-block;
        height: 70px;
        padding: 6px 6px 6px 6px;
        vertical-align: middle;
        min-width: 120px;
        text-align: center;
        font-size: 30px;
        text-decoration: none;
    }

        .QuickShortCutsCont a:hover
        {
            color: #AE1128;
        }

        .QuickShortCutsCont a span
        {
            display: block;
            margin-top: -2px;
            font-size: 14px;
        }



.GradientDashboardBox .glyphicon, .GradientDashboardBox .fa
{
    color: #333;
    font-size: 24px;
}


/*.GradientDashboardBox .glyphicon:hover, .GradientDashboardBox .fa:hover {
    color: #AE1128;
}*/


#dvLoginStatus .glyphicon:hover
{
    color: #AE1128;
}





/*For validation*/
/* styles for validation helpers */
.field-validation-error
{
    color: #AE1128;
    font-weight: bold;
}

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid #AE1128;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: #AE1128;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid
{
    display: none;
}


/*For Quick Stats*/

.quick-statsbox-containerx
{
    padding: 10px 0px 10px 0px;
}

.quick-statsbox
{
    margin: -10px 0 16px 0px;
}

.quick-statsboxx
{
    background: linear-gradient(bottom, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(bottom, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(bottom, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(bottom, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(bottom, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
    /*border: 1px solid #dddddd;*/
    border-radius: 6px;
    padding: 6px;
}


    .quick-statsboxx:hover
    {
        /*color:#AE1128 !important;*/
        /*  border: 1px solid #eeb7b7; 
    background: linear-gradient(bottom, #fae7e7 50%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(bottom, #fae7e7 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(bottom, #fae7e7 50%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(bottom, #fae7e7 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(bottom, #fae7e7 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fae7e7',GradientType=0 ); /* IE6-8 */
        /*color:#FFF;*/
    }

.qs-digit
{
    font-size: 30px;
    color: #ccc;
    /*padding-left: 50px;*/
    /*margin-bottom: 3px;*/
}

.qs-text
{
    font-size: 15px;
    margin-top: -5px;
    /*padding-left: 50px;*/
}


.icon1x
{
    background: url('/Content/Images/Common/qs-applicants.png') no-repeat 0px 0px;
    cursor: pointer;
    transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    -webkit-transition: background 0.5s;
}
/*.icon1:hover { background:#b50a37 url('/Content/Images/Common/qs-applicants.png') no-repeat right 6px; }*/

.icon2x
{
    background: url('/Content/Images/Common/qs-employees.png') no-repeat 0px 0px;
    cursor: pointer;
    transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    -webkit-transition: background 0.5s;
}
/*.icon2:hover { background:#b50a37 url('/Content/Images/Common/qs-employees.png') no-repeat right 6px; }*/

.icon3x
{
    background: url('/Content/Images/Common/qs-office.png') no-repeat 0px 0px;
    cursor: pointer;
    transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    -webkit-transition: background 0.5s;
}
/*.icon3:hover { background:#b50a37 url('/Content/Images/Common/qs-office.png') no-repeat right 6px; }*/

.icon4x
{
    background: url('/Content/Images/Common/qs-system-users.png') no-repeat 0px 0px;
    cursor: pointer;
    transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    -webkit-transition: background 0.5s;
}
/*.icon4:hover { background:#b50a37 url('/Content/Images/Common/qs-system-users.png') no-repeat right 10px; }*/


.btn-group-style-ext
{
    margin-top: -3px;
    margin-right: -7px;
}


.KenDateFix
{
    height: 28px !important;
}

/*Pending*/
/*.k-i-calendar {
    pending
    z-index: 9999;
}*/




a.AppAnc
{
    color: #333;
    /*display: inline-block;
    height: 70px;
    padding: 6px 6px 6px 6px;
    vertical-align: middle;
    min-width: 120px;
    text-align: center;
    font-size: 30px;*/
    text-decoration: none;
}

    a.AppAnc:hover
    {
        color: #AE1128;
    }


h2
{
    /*margin-top: 0px;*/
    margin-top: 6px;
}
