﻿
.navbar-inverse
{
    background-color:#AE1128;
}

.navbar-inverse .navbar-brand {
    /*4803*/
    color: #fff;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #2F2F2F !important;
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a {
    /*4817*/
    color: #fff;
}