﻿@model OS.EMS.Web.Models.I9FormUSVM
<div id="dvCertificationConents" class="EmpPanelHide">
    <div class="row">
        <div class="col-md-4  form-group">
            @Html.LabelFor(model => model.RepresentativeTitle)
            @Html.TextBoxFor(model => model.RepresentativeTitle, new { @class = "form-control input-sm" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3  form-group">
            @Html.LabelFor(model => model.RepresentativeLastName)
            @Html.TextBoxFor(model => model.RepresentativeLastName, new { @class = "form-control input-sm" })
        </div>
        <div class="col-md-3  form-group">
            @Html.LabelFor(model => model.RepresentativeFirstName)
            @Html.TextBoxFor(model => model.RepresentativeFirstName, new { @class = "form-control input-sm" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4  form-group">
            @Html.LabelFor(model => model.RepresentativeOrganisation)
            @Html.TextBoxFor(model => model.RepresentativeOrganisation, new { @class = "form-control input-sm" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <div>
                @Html.LabelFor(model => model.RepresentativeStreetAddress)
            </div>
            @Html.TextAreaFor(model => model.RepresentativeStreetAddress, new { style = "height:60px;", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RepresentativeStreetAddress)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.RepresentativeCity)
            @Html.TextBoxFor(model => model.RepresentativeCity, new { @class = "form-control input-sm" })
        </div>
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.RepresentativeState)
            @Html.TextBoxFor(model => model.RepresentativeState, new { @class = "form-control input-sm" })
        </div>
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.RepresentativeZipCode)
            @Html.TextBoxFor(model => model.RepresentativeZipCode, new { @class = "form-control input-sm" })
        </div>
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.RepresentativeSignatureDate)
            @Html.TextBoxFor(model => model.RepresentativeSignatureDate, new { @class = "form-controlx input-smx KenDateFix" })
        </div>
    </div>


</div>
