﻿@model OS.EMS.Web.Models.I9FormUSVM



<div id="dvCitizenshipConents" class="EmpPanelHide">
    <div class="row">
        <div class="col-md-5  form-group">
            @Html.CheckBoxFor(model => model.IsCitizen)
            @Html.LabelFor(model => model.IsCitizen)
        </div>
    </div>
    <div class="row">
        <div class="col-md-5  form-group">
            @Html.CheckBoxFor(model => model.IsNonCitizenNational)
            @Html.LabelFor(model => model.IsNonCitizenNational)
        </div>
    </div>
    <div class="row">
        <div class="col-md-5  form-group">
            @Html.CheckBoxFor(model => model.IsLawfulResident)
            @Html.LabelFor(model => model.IsLawfulResident)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4  form-group">
            @Html.LabelFor(model => model.AlienRegistrationNumber)
            @Html.TextBoxFor(model => model.AlienRegistrationNumber, new { @class = "form-control input-sm" })
        </div>
        <div class="col-md-4  form-group">
            @Html.LabelFor(model => model.I9FormAdmissionNumber)
            @Html.TextBoxFor(model => model.I9FormAdmissionNumber, new { @class = "form-control input-sm" })
        </div>

    </div>
    <div class="row">
        <div class="col-md-4  form-group">
            @Html.LabelFor(model => model.ForeignPassportNumber)
            @Html.TextBoxFor(model => model.ForeignPassportNumber, new { @class = "form-control input-sm" })
        </div>
        <div class="col-md-4  form-group">
            @Html.LabelFor(model => model.CountryOfIssuance)
            @Html.TextBoxFor(model => model.CountryOfIssuance, new { @class = "form-control input-sm" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-3  form-group">
            @Html.LabelFor(model => model.SignatureDate)
            @Html.TextBoxFor(model => model.SignatureDate, new { @class = "form-controlx input-smx KenDateFix" })
        </div>
    </div>
</div>

