﻿@model OS.EMS.Web.Models.I9FormUSVM
<div id="dvExpireDocumentConents" class="EmpPanelHide">
    <div>
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.DocumentTitle)
            @Html.TextBoxFor(model => model.DocumentTitle, new { @class = "form-control input-sm" })
        </div>
    </div>
    <div>
        <div>
            <div class="col-md-2  form-group">
                @Html.LabelFor(model => model.DocumentNumber)
                @Html.TextBoxFor(model => model.DocumentNumber, new { @class = "form-control input-sm" })
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="col-md-2  form-group">
                @Html.LabelFor(model => model.DocumentExpiryDate)
                @Html.TextBoxFor(model => model.DocumentExpiryDate, new { @class = "form-controlx input-smx" })
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="col-md-2  form-group">
                @Html.LabelFor(model => model.DocumentExpiryDate)
                @Html.TextBoxFor(model => model.DocumentExpiryDate, new { @class = "form-controlx input-smx" })
            </div>
        </div>
    </div>
</div>
