﻿@model OS.EMS.Web.Models.I9FormUSVM

<div id="dvPersonalInfoContents" class="EmpPanelActive">
    <div class="row">

        <div class="col-md-3  form-group">
            @Html.LabelFor(model => model.LastName)
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm", style = " " })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="col-md-3 form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.MiddleInitial)
            @Html.TextBoxFor(model => model.MiddleInitial, new { @class = "form-control input-sm", style = "" })
            @Html.ValidationMessageFor(model => model.MiddleInitial)
        </div>
        <div class="col-md-3  form-group">
            @Html.LabelFor(model => model.OtherNames) (if Any)
            @Html.TextBoxFor(model => model.OtherNames, new { @class = "form-control input-sm", style = " " })
            @Html.ValidationMessageFor(model => model.OtherNames)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4  form-group">
            @Html.LabelFor(model => model.DateOfBirth)<br />
            @Html.TextBoxFor(model => model.DateOfBirth, new { @class="KenDateFix" }) (e.g: mm/dd/yyyy)<br />
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>
        <div class="col-md-8  form-group">
            @Html.LabelFor(model => model.SocialSecurityNumber)<br />
            @Html.TextBoxFor(model => model.SocialSecurityNumber, new { @class = "form-control input-sm", style = "width:150px; display:inline-block; " }) (e.g: 999-99-9999)<br />
            @Html.ValidationMessageFor(model => model.SocialSecurityNumber)
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-group">
            <div>
                @Html.LabelFor(model => model.StreetAddress) (Street Name & Number)
            </div>
            @Html.TextBoxFor(model => model.StreetAddress, new { style = "", @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.StreetAddress)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.ApartmentNumber)
            @Html.TextBoxFor(model => model.ApartmentNumber, new { @class = "form-control input-sm", style = "" })
            @Html.ValidationMessageFor(model => model.ApartmentNumber)
        </div>
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.City)
            @Html.TextBoxFor(model => model.City, new { @class = "form-control input-sm", style = "" })
            @Html.ValidationMessageFor(model => model.City)
        </div>
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.State)
            @Html.TextBoxFor(model => model.State, new { @class = "form-control input-sm", style = "" })
            @Html.ValidationMessageFor(model => model.State)
        </div>
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.ZipCode)
            @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control input-sm", style = "" })
            @Html.ValidationMessageFor(model => model.ZipCode)
        </div>
    </div>
    <div class="row">

        <div class="col-md-3  form-group">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm", style = "" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="col-md-4  form-group">
            @Html.LabelFor(model => model.Phone)<br />
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-sm", style = "width:150px; display:inline-block;" }) (e.g: ((999)999-9999))<br />
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
    </div>
</div>
