﻿@model OS.EMS.Web.Models.I9FormUSVM
<div id="dvPreparerConents" class="EmpPanelHide">

    <div class="row">
        <div class="col-md-3  form-group">
            @Html.LabelFor(model => model.PreparerSignatureDate)
            @Html.TextBoxFor(model => model.PreparerSignatureDate, new { @class = "form-controlx input-smx KenDateFix" })
            @Html.ValidationMessageFor(model => model.PreparerSignatureDate)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4  form-group">
            @Html.LabelFor(model => model.PreparerLastName)
            @Html.TextBoxFor(model => model.PreparerLastName, new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.PreparerLastName)
        </div>
        <div class="col-md-4  form-group">
            @Html.LabelFor(model => model.PreparerFirstName)
            @Html.TextBoxFor(model => model.PreparerFirstName, new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.PreparerFirstName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6  form-group">
            @Html.LabelFor(model => model.PreparerStreetAddress)
            @Html.TextAreaFor(model => model.PreparerStreetAddress, new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.PreparerStreetAddress)
        </div>
    </div>
    <div class="row">

        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.PreparerCity)
            @Html.TextBoxFor(model => model.PreparerCity, new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.PreparerCity)
        </div>
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.PreparerState)
            @Html.TextBoxFor(model => model.PreparerState, new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.PreparerState)
        </div>
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.PreparerZipCode)
            @Html.TextBoxFor(model => model.PreparerZipCode, new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.PreparerZipCode)
        </div>
    </div>

</div>
