﻿@model OS.EMS.Web.Models.I9FormUSVM
<div id="dvRehireConents" class="EmpPanelHide">
    <div class="row">
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.RehireDate)
            @Html.TextBoxFor(model => model.RehireDate, new { @class = "form-controlx input-smx KenDateFix" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3  form-group">
            @Html.LabelFor(model => model.RehireLastName)
            @Html.TextBoxFor(model => model.RehireLastName, new { @class = "form-control input-sm" })
        </div>
        <div class="col-md-3  form-group">
            @Html.LabelFor(model => model.RehireFirstName)
            @Html.TextBoxFor(model => model.RehireFirstName, new { @class = "form-control input-sm" })
        </div>
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.RehireMiddleInitial)
            @Html.TextBoxFor(model => model.RehireMiddleInitial, new { @class = "form-control input-sm" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-4  form-group">
            @Html.LabelFor(model => model.DocumentTitle)
            @Html.TextBoxFor(model => model.DocumentTitle, new { @class = "form-control input-sm" })
        </div>
    </div>
    <div class="row">




        <div class="col-md-3  form-group">
            @Html.LabelFor(model => model.DocumentNumber)
            @Html.TextBoxFor(model => model.DocumentNumber, new { @class = "form-control input-sm" })
        </div>
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.DocumentExpiryDate)
            @Html.TextBoxFor(model => model.DocumentExpiryDate, new { @class = "form-controlx input-smx KenDateFix" })
        </div>
    </div>


</div>
