﻿@model OS.EMS.Web.Models.I9FormUSVM
<div id="dvSignatureConents" class="EmpPanelHide">
    <div class="row">
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.EmployerSignatureDate)
            @Html.TextBoxFor(model => model.EmployerSignatureDate, new { @class = "form-controlx input-smx" })
        </div>                    
        <div class="col-md-2  form-group">
            @Html.LabelFor(model => model.EmployerPrintName)
            @Html.TextBoxFor(model => model.EmployerPrintName, new { @class = "form-control input-sm" })
        </div>                    
    </div>
</div>