﻿@model I9FormUSVM
@using OS.EMS.Web.Models
@{
    ViewBag.Title = "I9FormUS";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";

    bool IsNewEntry = true;
    if (Model.Id.HasValue)
    {
        IsNewEntry = Model.Id.Value == Guid.Empty ? true : false;
    }
    
}
<h2 class="FontAE1128" style="margin-left: -10px;">@((IsNewEntry) ? "Create" : "Edit") I9 Form</h2>
<br />

<div class="">
    <ul class="nav nav-tabs">
        <li class="active"><a id="dvPersonalInfoSwitch" class="" role="button" style="">Personal Info</a></li>
        <li><a id="dvCitizenshipSwitch" class="" role="button" style="">Citizenship</a></li>
        <li><a id="dvDocumentsSwitch" class="" role="button" style="">Documents</a></li>
        <li><a id="dvPreparerSwitch" class="" role="button" style="">Preparer/Translator</a></li>
        <li><a id="dvCertificationSwitch" class="" role="button" style="">Employer Certification</a></li>
        <li><a id="dvRehireSwitch" class="" role="button" style="">Reverification and Rehires</a></li>
        @*<li><a id="dvExpireDocumentSwitch" class="" role="button" style="">Expire Document</a></li>
        <li><a id="dvSignatureSwitch" class="" role="button" style="">Signature</a></li>*@
    </ul>
    <br />
    
    @using (Html.BeginForm(Model.Id.Value == Guid.Empty ? "Create" : "Update", "I9Form", FormMethod.Post, new { id = "formi9", enctype = "multipart/form-data" }))
    {
        <div class="col-md-12 panel-body" style="background-color: #fff;">
            @Html.ValidationSummary(true)

            @Html.Partial("~/Views/I9Form/_PersonalInfo.cshtml", Model)
            @Html.Partial("~/Views/I9Form/_Citizenship.cshtml", Model)
            @Html.Partial("~/Views/I9Form/_Preparer.cshtml", Model)
            @Html.Partial("~/Views/I9Form/_Documents.cshtml", Model)
            @Html.Partial("~/Views/I9Form/_Certification.cshtml", Model)
            @Html.Partial("~/Views/I9Form/_Rehire.cshtml", Model)
            @*@Html.Partial("~/Views/I9Form/_ExpireDocument.cshtml", Model)
            @Html.Partial("~/Views/I9Form/_Signature.cshtml", Model)*@
            <hr/>
            <div class="row  form-group">
                <div class="col-md-12">
                    <input type="submit" value="@((IsNewEntry) ? "Create" : "Update")" class="btn btn-primary" style="min-width:75px;" />
                    @Html.ActionLink("Cancel", "Details", "Employee", new { id = Model.EmployeeId }, new { @class = "btn btn-primary btn-sm", style="min-width:75px;" })
                    @*@Html.HiddenFor(model => model.Id.Value)*@
                    <input type="hidden" id="id" name="id" value="@Model.Id"  />
                    @Html.HiddenFor(model => model.EmployeeId)
                    @Html.HiddenFor(model => model.IsActive)
                    @Html.ValidationSummary(true)
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(function () {
            
            //At PeronalInfo
            $("#DateOfBirth").kendoDatePicker();
            $("#AlienAuthorizedExpiryDate").kendoDatePicker();
            $("#SignatureDate").kendoDatePicker();
            $("#FirstDayDate").kendoDatePicker();
            $("#RehireDate").kendoDatePicker();
            $("#DocumentExpiryDate").kendoDatePicker();
            $("#EmployerSignatureDate").kendoDatePicker();
            $("#RepresentativeSignatureDate").kendoDatePicker();
            $("#RepresentativeSignatureDate").kendoDatePicker();
            $("#EmployerSignatureDate").kendoDatePicker();
            

            $("#SocialSecurityNumber").mask("999-99-9999");
            $("#Phone").mask("(999)999-9999");
            

            //$(function () {
                // ;
                $(".bind-ExpiryDate").each(function () {
                    // ;
                    $("#" + this.id).kendoDatePicker();
                });
            //});
           
            $("#PreparerSignatureDate").kendoDatePicker();
            

            //For Tabs
            //For Tabs
            $(".nav-tabs a").click(function () {
                // ;

                var isValidForm = $("#formi9").valid();
                if (isValidForm) {
                    EMSPanelHide();

                    $(".nav-tabs li").removeClass("active");
                    $(this).parent().addClass("active");

                    //For Panels
                    if ($(this).attr("id") == "dvPersonalInfoSwitch") {
                        $("#dvPersonalInfoContents").addClass("EmpPanelActive");

                    }
                    else if ($(this).attr("id") == "dvCitizenshipSwitch") {
                        $("#dvCitizenshipConents").addClass("EmpPanelActive");
                    }
                    else if ($(this).attr("id") == "dvPreparerSwitch") {
                        $("#dvPreparerConents").addClass("EmpPanelActive");
                    }
                    else if ($(this).attr("id") == "dvDocumentsSwitch") {
                        $("#dvDocumentsConents").addClass("EmpPanelActive");
                    }
                    else if ($(this).attr("id") == "dvCertificationSwitch") {
                        $("#dvCertificationConents").addClass("EmpPanelActive");
                    }
                    else if ($(this).attr("id") == "dvRehireSwitch") {
                        $("#dvRehireConents").addClass("EmpPanelActive");
                    }
                    //else if ($(this).attr("id") == "dvExpireDocumentSwitch") {
                    //    $("#dvExpireDocumentConents").addClass("EmpPanelActive");
                    //}
                    //else if ($(this).attr("id") == "dvSignatureSwitch") {
                    //    $("#dvSignatureConents").addClass("EmpPanelActive");
                    //}
                }

            });
            
       

        });

        function EMSPanelHide() {
            // 
            $(".EmpPanelActive").each(function () {
                $(this).removeClass("EmpPanelActive").addClass("EmpPanelHide");
            });
        }
        

    </script>

}