﻿@{
    var pendingEmployee = ViewData["PendingEmployees"] as IEnumerable<OS.EMS.Model.Employee>;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" style="padding-top: 5px;"><span class="glyphicon glyphicon-question-sign pull-left"></span>Pending Employees</h3>
    </div>
    <div class="panel-body" style="padding: 0px;">
        <div class="RC GridHeaderBG">
            <div class="pull-left GridCP" style="width: 14%;">Code</div>
            <div class="pull-left GridCP" style="width: 50%;">Name</div>
            <div class="pull-left GridCP" style="width: 20%;">Status</div>
            <div class="pull-left GridCP" style="width: 14%;">Option(s)</div>
        </div>

        @if (pendingEmployee != null && pendingEmployee.Count() > 0)
        {
            int count = 0;

            foreach (var item in pendingEmployee)
            {
                count++;

                //string activeIcon = (item.IsActive) ? "glyphicon-cog" : "glyphicon-edit";
                string activeIcon = (item.IsActive) ? "glyphicon-ban-circle" : "glyphicon-ok-circle";

            <div class="RC  @( ((count % 2) == 0) ? "GridAltBG" : "")">
                <div class="pull-left GridCP" style="width: 14%;">@Html.DisplayFor(modelItem => item.Code)</div>
                <div class="pull-left GridCP" style="width: 50%;">@Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)</div>
                <div class="pull-left GridCP" style="width: 20%;">@(item.IsActive ? "Active" : "Pending")</div>
                <div class="pull-left GridCP" style="width: 14%;">@Html.ActionLink(" ", "Details", "Employee", new { id = item.Id }, new { @class = "glyphicon glyphicon-eye-open", style = "text-decoration:none;color:#AE1128;" }) @*@Html.ActionLink(" ", "Activate", "Employee", new {id = item.Id, active = !item.IsActive}, new {@class = "glyphicon " + activeIcon, style = "text-decoration:none;color:#AE1128;"})*@&nbsp;@Html.ActionLink(" ", "Update", "Employee", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit", style = "text-decoration:none;color:#AE1128;" }) </div>
            </div>
            }
        }

    </div>
</div>
