﻿@using OS.EMS.Model;
@model OS.EMS.Web.Models.DashboardVM


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" style="padding-top: 5px;"><span class="glyphicon glyphicon-question-sign pull-left"></span>Pending Applicants</h3>
    </div>
    <div class="panel-body" style="padding: 0px;">
        <div class="RC GridHeaderBG">
            <div class="pull-left GridCP" style="width: 15%;">Code</div>
            <div class="pull-left GridCP" style="width: 22%;">Name</div>
            <div class="pull-left GridCP" style="width: 10%;">Status</div>
            <div class="pull-left GridCP ACR" style="width: 50%; text-align: right;">Option(s)</div>
        </div>

        @if (Model != null && Model.PendingApplicants.Any())
        {
            int count = 0;

            foreach (var item in Model.PendingApplicants)
            {
                count++;

                //string activeIcon = (item.IsActive) ? "glyphicon-cog" : "glyphicon-edit";
                string activeIcon = (item.IsActive) ? "glyphicon-ban-circle" : "glyphicon-ok-circle";

            <div class="RC GridH @( ((count % 2) == 0) ? "GridAltBG" : "")">
                <div class="pull-left GridCP" style="width: 15%;">@Html.DisplayFor(modelItem => item.Code)</div>
                <div class="pull-left GridCP" style="width: 22%;">@Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)</div>
                <div class="pull-left GridCP" style="width: 10%;">@(item.IsActive ? "Active" : "Pending")</div>
                @* <div class="pull-right GridCP" style="width: 49%;">@Html.ActionLink(" ", "Update", "Applicant", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit pull-right", style = "text-decoration:none; color:#222;", title = "Edit Applicant" })
                    @if (!item.IsActive)
                    {
                        using (Html.BeginForm("AssignStore", "Applicant", FormMethod.Post, new { @class = "pull-right" }))
                        {
                        <input type="submit" value="Assign Store" class="btn btn-primary pull-right" style="color: #fff !important; margin-right: 14px;" />
                        @Html.DropDownList("StoreId", Model.Stores, new { style = "width:180px; display:inline-block; color:#333;", @class = "form-control input-sm pull-right  MR6PX" })
                        @Html.Hidden("id", item.Id);
                        }
                    }
                </div>*@
                <div class="pull-right GridCP" style="width: 50%;">
                    @*@Html.ActionLink(" ", "AssignStore", "Applicant", new { id = item.Id }, new { @class = "glyphicon glyphicon-new-window pull-right", style = "text-decoration:none;color:#222;", title = "Promote Applicant to Employee" })&nbsp;*@
                    @Html.ActionLink(" ", "Update","Applicant", new { id = item.Id }, new { @class = "fa fa-edit pull-right", title = "Edit Applicant" })
                    @if (!item.IsActive)
                    {
                        using (Html.BeginForm("AssignStore", "Employee", FormMethod.Post, new { @class = "pull-right", style = "width:318px;" }))
                        {
                        <input type="submit" value="Assign Store" class="btn btn-primary pull-right" style="color: #fff !important; margin-right: 10px; border: 0px;" />
                        @Html.DropDownList("StoreId", Model.Stores, new { style = "width:180px; height:30px; !important; color:#333;", @class = "form-control input-sm MR6PX pull-right" })
                        
                        @Html.Hidden("id", item.Id);
                        }
                    }

                </div>
            </div>
            }
        }
        <div class="RC GridFooterBG GridAltBG GridCP GridFooterBG">@(Model.PendingApplicants.Any() ? "Total Records : " + Model.PendingApplicants.Count() : "No pending Applicants")</div>

    </div>
</div>
