﻿@using OS.EMS.Web.Models
@{

    var user = HttpContext.Current.Session["AppUser"] as OS.EMS.Model.SystemUser;
    
}



<div class="row QuickShortCutsCont">
    <a href="@Url.Action("Create", "Applicant")" >
        <i class="fa fa-user"></i>
        <span>New Applicant</span>
    </a>

    <a href="@Url.Action("List", "Applicant", new { showActive = false })">
        <i class="fa fa-users"></i>
        <span>Pending Applicants</span>
    </a>

    @if (user != null && user.Role.Name == RoleType.Admin.ToString())
    {
        <a href="@Url.Action("ManagersList", "Employee")">
            <i class="fa fa-users"></i>
            <span>Store Managers</span>
        </a>
    }

    @if (user != null && user.Role.Name == RoleType.Admin.ToString())
    {
        <a href="@Url.Action("Create", "Store")">
            <i class="fa fa-building-o"></i>
            <span>New Store</span>
        </a>
        
    }

    <a href="@Url.Action("List", "Store")">
        <i class="fa fa-building-o"></i>
        <span>Stores</span>
    </a>

    @if (user != null && user.Role.Name == RoleType.Admin.ToString())
    {
        
        <a href="@Url.Action("List", "User")">
            <i class="fa fa-users"></i>
            <span>User</span>
        </a>
     
    }


    <a href="#">
        <i class="fa fa-list-alt"></i>
        <span>Reports</span>
    </a>


    @if (user != null && user.Email == "sa@sa.com")
    {
        <a href="@Url.Action("ListAttendanceData", "Attendance")">
            <i class="fa fa-cloud-upload"></i>
            <span>Import Attendance</span>
        </a>
    }
    
    @if (user != null && user.Role.Name == RoleType.Admin.ToString())
    {
        <a href="@Url.Action("List", "EmployeeDesignation")">
            <i class="fa fa-user"></i>
            <span>Manage Positions</span>
        </a>
    }
</div>



@*<a href="@Url.Action("Create", "User")">
            <i class="fa fa-user"></i>
            <span>New User</span>

        </a>*@