﻿@using OS.EMS.Model;
@model OS.EMS.Web.Models.DashboardVM

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" style="padding-top: 5px;"><i class="fa fa-bolt"></i>Quick Statistics</h3>
    </div>
    <div class="panel-body">

        <div class="row quick-statsbox-container">
            <div class="col-md-6">
                <div class="quick-statsbox icon1">
                    <div class="qs-digit">
                        @Html.DisplayFor(model => model.PendingApplicantsCount)
                    </div>
                    <div class="qs-text">
                        Pending Applicants
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="quick-statsbox icon2">
                    <div class="qs-digit">
                        @Html.DisplayFor(model => model.ActiveEmployeeCount)
                    </div>
                    <div class="qs-text">
                        Active Employees
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="quick-statsbox icon3">
                    <div class="qs-digit">
                        @Html.DisplayFor(model => model.ActiveStoresCount)
                    </div>
                    <div class="qs-text">
                        Active Stores
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="quick-statsbox icon4">
                    <div class="qs-digit">
                        @Html.DisplayFor(model => model.SystemUsersCount)
                    </div>
                    <div class="qs-text">
                        System Users
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


