﻿@using OS.EMS.Web.Models
@{
    var user = HttpContext.Current.Session["AppUser"] as OS.EMS.Model.SystemUser;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" style="padding-top: 5px;"><i class="fa fa-search"></i>Quick Search By</h3>
    </div>
    <div class="panel-body">
        <div class="row">

            @using (Html.BeginForm("SearchByCode", "Employee", FormMethod.Post))
            {
                <div class="col-md-9 form-group">
                    <div>
                        Employee Code
                    </div>
                    <input name="EmployeeCode" type="text" class="form-control input-sm" style="width: 100%;" maxlength="32"   />
                </div>
                <div class="col-md-3 form-group" style="padding-left: 0px;">
                    <div>
                        &nbsp;
                    </div>
                    @*<input type="submit" value="Search" class="btn btn-primary" />*@
                    <button type="submit" value="Search" class="btn btn-primary btn-sm FB"><span class="glyphicon glyphicon-search" style="font-size: 14px; display: inline-block;margin-right:2px;"></span>Search</button>
                </div>
            }
        </div>
        <div class="row">

            @using (Html.BeginForm("SearchByName", "Employee", FormMethod.Post))
            {
                <div class="col-md-9 form-group">
                    <div>
                        Employee Name
                    </div>
                    <input name="EmployeeName" type="text" class="form-control input-sm" style="width: 100%;"  maxlength="32" />
                </div>
                <div class="col-md-3 form-group" style="padding-left: 0px;">
                    <div>
                        &nbsp;
                    </div>
                    @*<input type="submit" value="Search" class="btn btn-primary" />*@
                    <button type="submit" value="Search" class="btn btn-primary btn-sm FB"><span class="glyphicon glyphicon-search" style="font-size: 14px; display: inline-block; margin-right:2px;"></span>Search</button>
                </div>
            }
        </div>
        
         @if (user != null && user.Role.Name == RoleType.Admin.ToString())
         {
             <div class="row">
                 @using (Html.BeginForm("SearchByCode", "Store", FormMethod.Post))
                 {
                     <div class="col-md-9 form-group">
                         <div>
                             Store Code
                         </div>
                         <input name="StoreCode" type="text" class="form-control input-sm" style="width: 100%;"  maxlength="32" />
                     </div>
                     <div class="col-md-3 form-group" style="padding-left: 0px;">
                         <div>
                             &nbsp;
                         </div>
                         @*<input type="submit" value="Search" class="btn btn-primary" />*@
                         <button type="submit" value="Search" class="btn btn-primary btn-sm FB"><span class="glyphicon glyphicon-search" style="font-size: 14px; display: inline-block; margin-right: 2px;"></span>Search</button>
                     </div>
                 }
             </div>
         }
        <div class="row">
            @using (Html.BeginForm("SearchByCode", "Applicant", FormMethod.Post))
            {
                <div class="col-md-9 form-group">
                    <div>
                        Applicant Code
                    </div>
                    <input name="ApplicantCode" type="text" class="form-control input-sm" style="width: 100%;"  maxlength="32" />
                </div>
                <div class="col-md-3 form-group" style="padding-left: 0px;">
                    <div>
                        &nbsp;
                    </div>
                    @*<input type="submit" value="Search" class="btn btn-primary" />*@
                    <button type="submit" value="Search" class="btn btn-primary btn-sm FB"  ><span class="glyphicon glyphicon-search" style="font-size:14px; display: inline-block; margin-right:2px;  "></span>Search</button>
                </div>
            }
        </div>
    </div>
</div>
