﻿@using OS.EMS.Model;
@model OS.EMS.Web.Models.DashboardVM

@{
    ViewBag.Title = "DashboardAdmin";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";

    var user = HttpContext.Current.Session["AppUser"] as OS.EMS.Model.SystemUser;

}

@section SubHeader
{
    @{ Html.RenderPartial("_QuickShortcuts"); }
}



<div class="row">

    <div class="col-md-8  form-group">
        @{ Html.RenderPartial("_PendingApplicants", Model); }
    </div>
    <div class="col-md-4 form-group">
        @if (user != null && user.Role.Name == OS.EMS.Web.Models.RoleType.Admin.ToString())
        {
            Html.RenderPartial("_QuickStats", Model);
        }
        @{ Html.RenderPartial("_QuickSearch"); }
    </div>
</div>


