﻿@{
    ViewBag.Title = "TestPage";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";
}

<h2>TestPage</h2>
<style>
    .row > div{ border-top:solid 1px red;border-right: 1px solid;  }
</style>
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
    <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>

<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>
