﻿@model OS.EMS.Web.Models.EmployeeDesignationVM

@{
    ViewBag.Title = "Create Employee Position";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";

    bool IsNewEntry = true;
    if (Model.Id.HasValue)
    {
        IsNewEntry = Model.Id.Value == Guid.Empty ? true : false;
    }
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-building-o"></i>@((IsNewEntry) ? "Create" : "Edit") Employee Position</h3>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm())
        {
           
            <div class="row">
                <div class="col-md-3 form-group">
                    <div>
                        Position
                    </div>
                    @Html.TextBoxFor(model => model.Designation, new { @class = "form-control input-sm", style = " " })
                    @Html.ValidationMessageFor(model => model.Designation)

                </div>
            </div>
              
            
      
            <div class="row  form-group">
                <div class="col-md-12">
                    <input type="submit" value="@((IsNewEntry) ? "Create" : "Update")" class="btn btn-primary"  style="min-width:75px;" />
                    @if (IsNewEntry)
                    { 
                        @Html.ActionLink("Cancel", "Dashboard", "Home", null, new { @class = "btn btn-primary btn-sm", style = "min-width:75px;" });
                    }
                    else
                    {
                        @Html.ActionLink("Cancel", "List", "EmployeeDesignation", new { id = Model.Id.Value }, new { @class = "btn btn-primary btn-sm", style = "min-width:75px;" });
                    }
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.IsActive)
                    @Html.ValidationSummary(true)
                </div>
            </div>

        }

    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            //At PeronalInfo
            $("#XDate").kendoDatePicker();
            $("#Phone").mask("(999)999-9999");
        });
    </script>
}




