﻿@model IEnumerable<OS.EMS.Web.Models.EmployeeDesignationVM>

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";
}

<div class="panel panel-default ">
    <div class="panel-heading">
        <h3 class="panel-title FB pull-left"><i class="fa fa-users"></i>Employee's Designations</h3>
        <div class="btn-group btn-group-style-ext pull-right">
            @Html.ActionLink("New Designation", "Create", null, new { @class = "btn btn-default btn-sm" })
        </div>
    </div>
    <div class="panel-body" style="padding: 0px;">
        <div class="RC GridHeaderBG">
            <div class="pull-left GridCP" style="width: 70%;">Position</div>
            <div class="pull-right GridCP ACR" style="width: 30%;">Option(s)</div>
        </div>
        @{
            int count = 0;    
        }
        @foreach (var item in Model)
        {
            count++;

            string tmp = (count % 2).ToString();

            string activeIcon = (item.IsActive) ? "fa-ban" : "fa-check-circle-o";
            string activeTitle = (item.IsActive) ? "Disable User" : "Enable User";
            
            
            <div class="RC GridH @( ((count % 2) == 0) ? "GridAltBG" : "")">
                <div class="pull-left GridCP" style="width: 70%;">@Html.DisplayFor(modelItem => item.Designation)</div>
                <div class="pull-right GridCP ACR" style="width: 30%;">@*@Html.ActionLink(" ", "Update", new { id = item.Id }, new { @class = "fa fa-edit", title = "Edit User" })&nbsp;*@@Html.ActionLink(" ", "Activate", new { id = item.Id, active = !item.IsActive }, new { @class = "fa " + activeIcon, title = activeTitle }) </div>
            </div>
        }
        <div class="RC GridFooterBG GridAltBG GridCP GridFooterBG">Total Records: @Model.Count()</div>

    </div>
</div>
