﻿@model OS.EMS.Web.Models.StoreVM

@{
    
    ViewBag.Title = "CreateStore";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";

    bool IsNewEntry = true;
    if (Model.Id.HasValue)
    {
        IsNewEntry = Model.Id.Value == Guid.Empty ? true : false;
    }
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-building-o"></i>@((IsNewEntry) ? "Create" : "Edit") Store</h3>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            if (!string.IsNullOrWhiteSpace(Model.Code))
            {
            <div class="row">
                <div class="pull-right">
                    <strong class="MR6PX" style="font-size: 22px;">Store #: <span class="Font999">@Model.Code</span></strong>
                </div>
            </div>
            }
            <div class="row">
                <div class="col-md-3 form-group">
                    <div>
                        Store Name
                    </div>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-sm", style = " " })
                    @Html.ValidationMessageFor(model => model.Name)

                </div>
            </div>
              
            
            <div class="row">
                <div class="col-md-5 form-group">
                    <div>
                        Street Address
                    </div>
                    @Html.TextAreaFor(model => model.Address, new { style = "  height:60px; ", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
            <div class="row">

                <div class="col-md-2 form-group">
                    <div>
                        State
                    </div>
                    @Html.DropDownListFor(model => model.StateId, Model.States, new { style = "width:90%;", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.StateId)

                </div>
                <div class="col-md-3 form-group">
                    <div>
                        City
                    </div>
                    @Html.DropDownListFor(model => model.CityId, Model.Cities, new { style = "width:90%;", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.CityId)
                </div>
                <div class="col-md-2  form-group">
                    <div>
                        Zip Code
                    </div>
                    @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control input-sm", style = "width:100px;" })
                    @Html.ValidationMessageFor(model => model.ZipCode)
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div>
                        Email Address
                    </div>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm", style = "" })
                    @Html.Hidden("InitialEmail", Model.Email)
                    <input type="hidden" name="InitialEmail" value="foo@bar.com" />
                    @Html.ValidationMessageFor(model => model.Email)

                </div>
                <div class="col-md-4  form-group">
                    <div>
                        Phone Number
                    </div>
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-sm", style = "width:150px;display:inline-block;" }) (e.g: 999-99-9999)<br />
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>



            </div>
            <div class="row  form-group">
                <div class="col-md-12">
                    <input type="submit" value="@((IsNewEntry) ? "Create" : "Update")" class="btn btn-primary"  style="min-width:75px;" />
                    @if (IsNewEntry)
                    { 
                        @Html.ActionLink("Cancel", "Dashboard", "Home", null, new { @class = "btn btn-primary btn-sm", style = "min-width:75px;" });
                    }
                    else
                    {
                        @Html.ActionLink("Cancel", "Details", "Store", new { id = Model.Id.Value }, new { @class = "btn btn-primary btn-sm", style = "min-width:75px;" });
                    }
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.IsActive)
                    @Html.ValidationSummary(true)
                </div>
            </div>

        }

    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            //At PeronalInfo
            $("#XDate").kendoDatePicker();
            $("#Phone").mask("(999)999-9999");
        });
    </script>
}



