﻿@using OS.EMS.Model
@using OS.EMS.Web.Models;
@model StoreVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";

    //var storeEmployees = ViewData["StoreEmployees"] as IEnumerable<EmployeeVM>;
    var roleType = (HttpContext.Current.Session["AppUser"] as SystemUser).Role.Name;
        
}

<div class="panel panel-default ">
    <div class="panel-heading">
        <h3 class="panel-title FB"><i class="fa fa-building-o"></i>Store Details</h3>
    </div>
    <div class="panel-body" style="padding: 0px;">
        <div class="row" style="padding-left: 16px; padding-top: 16px;">
            <div class="col-md-8 form-group">
                <div class="RC">
                    <div class="pull-left HeadingDetailsMain">@Model.Name</div>
                    <div class="pull-left pl-06 pr-06 HeadingDetailsSep">[@Model.Code]</div>
                    @*<div class="pull-left pl-06 pr-06 HeadingDetailsSep">|</div>*@

                </div>
                <div class="RC">
                    <div class="pull-left HeadingDetailsMain2">
                        @if (Model.SupervisorId.HasValue)
                        {
                            @Html.ActionLink(string.Format("{0} {1}", Model.Supervisor.LastName, Model.Supervisor.FirstName), "Details", "Employee", new { id = @Model.SupervisorId }, new { style = "text-decoration:underline; color:#222;" })
                        }
                        else
                        {
                            <span>Manager Not Assigned!</span>
                        }
                    </div>
                </div>
                <div class="RC">
                    <div class="pull-left pr-06">@Model.Address,</div>
                    <div class="pull-left pr-06">@Model.City.Name,</div>
                    <div class="pull-left pr-06">@Model.State.Code</div>
                    <div class="pull-left pr-06">- @Model.ZipCode</div>
                </div>
                <div class="RC">
                    <div class="pull-left"><b>Contact No:</b> @Model.Phone</div>
                    <div class="pull-left pl-06 pr-06">|</div>
                    <div class="pull-left"><b>Email Address:</b> @Model.Email</div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <div class="RC">
                    <div class="pull-right form-group">
                        <a href="@Url.Action("Update", "Store", new { id = Model.Id })" style="display: block; text-decoration:none; font-weight:bold; width: 96px; margin-right:16px; ">
                            <div class="RC GradientDashboardBox" style="text-align: center; background-color: #F5F5F5; height: 96px;">
                                <div class="RC" style="margin-top: 16px;">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    @*<img src="~/Content/Images/Common/create-user.png" />*@
                                </div>
                                <div class="RC" style="color: #444;">
                                    Edit Store
                                </div>
                            </div>
                        </a>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default ">
    <div class="panel-heading" style="background-color: #222;">
        <h3 class="panel-title FB"><i class="fa fa-users"></i>Store Employees</h3>
    </div>
    <div class="panel-body" style="padding: 0px;">

        <div class="RC GridHeaderBG">
            <div class="pull-left GridCP" style="width: 16%;">Code</div>
            <div class="pull-left GridCP" style="width: 40%;">Name</div>
            <div class="pull-left GridCP" style="width: 20%;">Phone</div>
            <div class="pull-left GridCP pull-right ACR" style="width: 24%;">Option(s)</div>
        </div>


        @if (Model.Employees != null)
        {
            int count = 0;
            foreach (var item in Model.Employees)
            {

                count++;

                string tmp = (count % 2).ToString();

                string activeIcon = (item.IsActive) ? "glyphicon-cog" : "glyphicon-edit";
            
            <div class="RC GridH  @( ((count % 2) == 0) ? "GridAltBG" : "") @((Model.SupervisorId != item.Id) ? "" : "GridLeftBar")"     >
                <div class="pull-left GridCP" style="width: 16%;">@Html.DisplayFor(modelItem => item.Code)</div>
                <div class="pull-left GridCP" style="width: 40%;">@Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)</div>
                <div class="pull-left GridCP" style="width: 20%;">@Html.DisplayFor(modelItem => item.Phone)</div>
                <div class="pull-left GridCP ACR" style="width: 24%;">
                    @if (roleType == RoleType.Admin.ToString())
                    {
                        if (Model.SupervisorId != item.Id)
                        {
                        @Html.ActionLink("Make Store Manager", "SetSupervisor", "Store", new { id = Model.Id, eid = item.Id, peid = Model.SupervisorId }, new { @class = "btn btn-primary btn-sm", style = "margin-right:10px; color:#fff !important;" })
                        }
                        else
                        {
                        <span class="MR6PX">Current Store Manager</span>
                        }
                    }
                    @Html.ActionLink(" ", "Details", "Employee", new { id = item.Id }, new { @class = "fa fa-eye", style = "margin-top:0px;" })@Html.ActionLink(" ", "Update", "Employee", new { id = item.Id }, new { @class = "fa fa-edit", style = "margin-top:0px;" })

                </div>

            </div>
            }
            <div class="RC GridFooterBG GridAltBG GridCP GridFooterBG">Total Employees: <span class="">@Model.Employees.Count()</span></div>
        }
        
    </div>
</div>
