﻿@using OS.EMS.Web.Models
@model IEnumerable<OS.EMS.Web.Models.StoreVM>

@{
    ViewBag.Title = "StoreList";
    Layout = "~/Views/Shared/_LayoutEMS.cshtml";

    var user = HttpContext.Current.Session["AppUser"] as OS.EMS.Model.SystemUser;
}


@*<div class="" style="padding-bottom: 6px;">
    <div class="btn-group">
        <button type="button" class="btn btn-default">Active</button>
        <button type="button" class="btn btn-default">Inactive</button>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Options
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Create Store", "Create", null, new { @class = "" })</li>
            </ul>
        </div>
    </div>
</div>*@



<div class="panel panel-default ">
    <div class="panel-heading">
        @*<h3 class="panel-title FB pull-left">Stores <i class="fa fa-building-o pull-left"></i></h3>*@
        <h3 class="panel-title FB pull-left"><i class="fa fa-building-o"></i>Stores</h3>
        @if (user != null && user.Role.Name == RoleType.Admin.ToString())
        {
            <div class="btn-group btn-group-style-ext pull-right">
                <button type="button" class="btn btn-default btn-sm">Active</button>
                <button type="button" class="btn btn-default btn-sm">Inactive</button>
                @Html.ActionLink("New Store", "Create", null, new { @class = "btn btn-default btn-sm" })
            </div>
        }
    </div>
    <div class="panel-body" style="padding: 0px;">

        <div class="RC GridHeaderBG">
            <div class="pull-left GridCP" style="width: 20%;">Store Code</div>
            <div class="pull-left GridCP" style="width: 40%;">Store Name</div>
            <div class="pull-left GridCP" style="width: 30%;">Store Manager</div>
            <div class="pull-left GridCP ACR" style="width: 10%; text-align: right;">Option(s)</div>
        </div>
        @{
            int count = 0;    
        }
        @foreach (var item in Model)
        {
            count++;

            string tmp = (count % 2).ToString();

            string activeIcon = (item.IsActive) ? "glyphicon-cog" : "glyphicon-edit";
            
            <div class="RC GridH @( ((count % 2) == 0) ? "GridAltBG" : "")">
                <div class="pull-left GridCP" style="width: 20%;">@Html.DisplayFor(modelItem => item.Code)</div>
                <div class="pull-left GridCP" style="width: 40%;">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="pull-left GridCP" style="width: 30%;">
                    @if (item.SupervisorId.HasValue)
                    {
                        @Html.DisplayFor(modelItem => item.Supervisor.LastName) @Html.DisplayFor(modelItem => item.Supervisor.FirstName)
                    }
                    else
                    {
                        <strong>No Manager Assigned</strong>
                    }

                </div>
                <div class="pull-left GridCP ACR" style="width: 10%;">@Html.ActionLink(" ", "Details", "Store", new { id = item.Id }, new { @class = "fa fa-eye", title = "View Store" })@Html.ActionLink(" ", "Update", new { id = item.Id }, new { @class = "fa fa-edit", title = "Edit Store" })</div>
            </div>
        }
        <div class="RC GridFooterBG GridAltBG GridCP GridFooterBG">Total Records: @Model.Count()</div>
    </div>
</div>

